* {
	margin:0px;
	padding:0px;
}
body {
	background-image:url(../images/body-bg.png);
	background-repeat:repeat-x;
	background-color:#fff;
}
a img {
	border:0px;
}
.clearfix {
	clear:both;
}
.header-bar-bg {
	width:100%;
	height:28px;
	background-color:#2e2e2e;
}
.header-bar-left {
	width:467px;
	height:28px;
	background-image:url(../images/header-left.gif);
	background-repeat:no-repeat;
	float:left;
}
.header-bar-right {
	width:232px;
	height:28px;
	background-image:url(../images/header-right.gif);
	background-repeat:no-repeat;
	float:right;
}
.mv {
	width:988px;
	height:203px;
	background-image: url(../images/mv.jpg);
	margin:0 auto;
}
div#mainContent {
	width:988px;
	height:auto;
	background-color:#FFF;
	border-right:1px #d0d1d2 solid;
	border-left:1px #d0d1d2 solid;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:30px;
}
.form-area {
	width:888px;
	height:auto;
	border:1px #d2d2d2 solid;
	margin:0 auto;
}
.btn-1 {
	width:138px;
	height:47px;
	margin:30px auto 0;
}
/*頁尾*/
div#footer {
	clear:both;
	width:100%;
	height:278px;
	background-image:url(../images/footer-sample.gif);
	background-repeat:repeat-x;
	background-position:top center;
}