/* 20210727 Ason */
/* common */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #d3d3d3;
  background: url(../images/bg_2.jpg);
  background-size: cover;
  font-family: 微軟正黑體;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}
body.change {
  overflow: hidden;
}
h1 {
  font-family: "Calligraffitti";
  font-size: 3.5rem;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  letter-spacing: 2px;
  margin-top: 36px;
}
h3 {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
h4 {
  margin-bottom: 30px;
}
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button:focus {
  outline: none;
}
.margin-top-fix-1 {
  margin-top: 10px !important;
}
.margin-top-fix-2 {
  margin-top: 32px;
}
.margin-bottom-fix-1 {
  margin-bottom: 30px;
}
.margin-fix {
  margin: 0 !important;
}
.margin-right-fix {
  margin-right: 0 !important;
}
.btn-fix {
  text-align: center;
  margin-right: 0 !important;
}
.section-1 {
  margin-bottom: 30px;
}

/* 頁首 */
header {
  margin-top: 0;
  margin-bottom: 0;
}
.jumbotron {
  background-color: transparent;
  padding: 30px 0 0;
}

/* 自我介紹 */
.profile {
  max-width: 160px;
  margin: 0 auto 5px;
}
.profile img {
  width: 100%;
  border-radius: 50%;
  vertical-align: middle;
}
.intro {
  height: auto;
  font-size: 1.3rem;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}
.best-works {
  font-size: 1rem;
}
.best-works i {
  font-size: 0.9rem;
  margin-right: 3px;
}

/* 連絡方式 */
.contact {
  padding: 0 6px 0;
}
.contact ul {
  list-style: none;
  padding-left: 0;
}
.contact ul li {
  width: 100%;
  font-size: 20px;
  color: #000;
  float: left;
  /* margin-right: 20px; */
}
.contact ul li:first-child {
  font-weight: bold;
  color: #000;
}
.contact ul li i.fa-phone-square {
  /* margin-right: 5px; */
}
.contact-name {
  letter-spacing: 1px;
}
.slash {
  font-size: 19px;
  vertical-align: text-top;
  margin-right: 2px;
  margin-left: 2px;
}
.contact i {
  font-size: 20px;
  margin-right: 4px;
  margin-left: 2px;
}
.contact ul li:last-child i {
  /* margin-right: 0; */
}

/* 技能專長 */
.skill {
  padding: 0 6px 0;
}
.skill ul {
  list-style: none;
  padding-left: 0;
}
.skill ul li {
  font-size: 1.22rem;
  letter-spacing: 1px;
  float: left;
}
.skill ul li.slash {
  padding-left: 4px;
  padding-right: 4px;
}

/* 作品精選 */
.portfolio-selected {
  margin-bottom: 20px;
}
.portfolio-selected > div {
  max-width: 240px;
}
.portfolio-selected .portfolio-link {
  display: block !important;
  text-align: center;
}
.portfolio-selected .portfolio-link a {
  font-size: 1rem;
  margin: 0 auto;
}
.portfolio-more {
  font-size: 1.1rem;
  margin-bottom: 50px;
}
.portfolio-more a {
  text-decoration: underline;
}
.portfolio-more a:hover {
  text-decoration: none;
}
.pic,
.pic:active {
  width: auto;
  background-color: #fff;
  border: 1px #bbb solid;
  box-shadow: 0 0 10px #999;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pic:hover {
  box-shadow: 0 0 5px #999;
}
.pic:hover {
  box-shadow: none;
}
.pic img {
  width: 100%;
  max-width: 100%;
  min-height: 300px;
  max-height: 300px;
}

/* 職務描述 */
.job ul {
  list-style: square;
  color: #000;
  padding: 0;
  margin-left: 16px;
}
.job ul li {
  font-size: 1.1rem;
  color: #000;
  margin-bottom: 10px;
  margin-left: 16px;
}

/* 工作經歷 */
.experience ul {
  color: #000;
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.experience li {
  width: 27%;
  font-size: 1rem;
  color: #000;
  margin-left: 5px;
  margin-bottom: 10px;
  float: left;
}
year {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
year::after {
  content: " / ";
}

/* 頁尾 */
.copyright {
  background-color: #222;
  font-size: 14px;
  color: #fff;
  margin-top: 50px;
  padding: 12px 0;
}
.copyright span {
  font-size: 10px;
  padding: 0 5px;
}

/* 回首頁按鈕 */
.my-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 6px 14px 6px;
  border-radius: 50%;
  font-size: 32px;
  opacity: 0.7;
}
.my-btn:hover {
  background-color: #555;
  opacity: 0.8;
}
.my-btn .fas.fa-arrow-up {
  font-size: 30px;
}

/* Modal images */
/* The Modal (background) */
.ason-modal {
  display: none;
  position: fixed;
  z-index: 102;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.98);
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Modal Content */
.ason-modal-content {
  width: 80%;
  background-color: none;
  border: 0 solid #888;
  text-align: center;
  margin: auto;
}
.ason-modal-content img {
  width: auto;
  max-width: 100%;
  max-height: 90vh;
}

/* The Close Button */
.close {
  display: inline-block !important;
  color: #ffffff !important;
  font-size: 50px !important;
  font-weight: 900 !important;
  opacity: 0.5;
  position: fixed;
  top: 20px;
  right: 20px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.3;
}

/* rwd */
@media only screen and (max-width: 1920px) {
  .intro {
    font-size: 1.3rem;
    line-height: 28px;
  }
  .contact ul li {
    font-size: 19px;
  }
  .contact i {
    font-size: 20px;
  }
  .portfolio-selected > div {
    max-width: 200px;
  }
  .pic img {
    min-height: 240px;
    max-height: 240px;
  }
  .experience li {
    width: 40%;
  }
}
@media only screen and (max-width: 1440px) {
  .portfolio-selected > div {
    max-width: 200px;
  }
  .pic img {
    min-height: 200px;
    max-height: 200px;
  }
  .experience li {
    width: 38%;
  }
}
@media only screen and (max-width: 1199px) {
  .my-btn:hover {
    background-color: gray;
    opacity: 0.5;
  }
  .portfolio-selected > div {
    max-width: 200px;
  }
  .experience li {
    width: 36%;
  }
}
@media only screen and (max-width: 991px) {
  .section-1,
  .section-2 {
    padding: 0 60px;
  }
  .contact ul li {
    font-size: 17px;
  }
  .contact i {
    font-size: 20px;
  }
  .portfolio-selected > div {
    max-width: 240px;
  }
  .pic img {
    min-height: 240px;
    max-height: 240px;
  }
  .contact ul li {
    font-size: 21px;
  }
  .contact i {
    font-size: 20px;
  }
  .experience li {
    width: 44%;
  }
}

@media only screen and (max-width: 767px) {
  h4 {
    margin-bottom: 15px;
  }
  .profile {
    margin: 0 auto 0;
  }
  .contact ul li {
    font-size: 21px;
  }
  .slash {
    font-size: 16px;
  }
  .contact i {
    font-size: 20px;
  }
  .best-works {
    font-size: 0.8rem;
  }
  .best-works i {
    font-size: 0.6rem;
  }
  .portfolio-selected .portfolio-link a {
    font-size: 0.9rem;
  }
  .experience li {
    width: 48%;
    margin-left: 5px;
  }
  .copyright {
    font-size: 11px;
  }
  .copyright i {
    font-size: 10px;
  }
  .my-btn {
    bottom: 100px;
    right: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .profile {
    max-width: 120px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 21px;
  }
  .section-1,
  .section-2 {
    padding: 0 40px;
  }
  .intro {
    font-size: 1.1rem;
    line-height: 24px;
  }
  .portfolio-selected {
    margin-bottom: 0;
    padding: 0 60px;
  }
  .portfolio-selected > div {
    max-width: 240px;
    margin-bottom: 20px;
  }
  .portfolio-selected .portfolio-link a {
    font-size: 1rem;
  }
  .skill ul li {
    font-size: 1.03rem;
  }
  .pic img {
    min-height: 280px;
    max-height: 280px;
  }
  .job ul {
    margin-left: 13px;
  }
  .job ul li {
    font-size: 1rem;
    margin-left: 10px;
  }
  .experience li {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .contact ul li {
    font-size: 18px;
  }
  .copyright {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 320px) {
  .section-1,
  .section-2 {
    padding: 0 20px;
  }
  .pic img {
    min-height: 200px;
    max-height: 200px;
  }
  .job ul li,
  .experience ul li {
    font-size: 0.9rem;
  }
}
