/*通用設定*/
* {
	margin:0px;
	padding:0px;
}
body {
	background-color:#fff;
	background: -webkit-linear-gradient(#fff 0%, #745626 90%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff 0%, #745626 90%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff 0%, #745626 90%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff 0%, #745626 90%); /* Standard syntax (must be last) */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='#745626');
}
a img {
	border:0px;
}
.clearfix {
	clear:both;
}
.mainContent {
	width:990px;
	background-color:#e3d2b1;
	background: -webkit-linear-gradient(#e3d2b1 0%, #745626 100%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#e3d2b1 0%, #745626 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#e3d2b1 0%, #745626 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#e3d2b1 0%, #745626 100%); /* Standard syntax (must be last) */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e3d2b1',EndColorStr='#745626');
	margin:auto;
	position:relative;
}
.mainContent .txtArea {
	width:908px;
	height:auto;
	background:url(../images/bg_1.png) no-repeat right top;
	background-color:#e3d2b1;
	margin:0 auto;
/*	padding-bottom:10px;*/
}
.padFix-1 {
	padding-top:20px;
}
.padFix-2 {
	height:140px;
	padding-top:50px;
}
.radiusFix {
	width:100%;
	height:8px;
	background:url(../images/area_bg_1.png) no-repeat;
}
.radiusFix-2 {
	width:908px;
	height:8px;
	background:url(../images/area_bg_2.png) no-repeat;
	margin:0 auto;
}


/*頁首*/
.header-bar-bg {
	width:100%;
	height:28px;
	background-color:#2e2e2e;
}
.header-bar-left {
	width:467px;
	height:28px;
	background-image:url(../images/header-left.gif);
	background-repeat:no-repeat;
	float:left;
}
.header-bar-right {
	width:232px;
	height:28px;
	background-image:url(../images/header-right.gif);
	background-repeat:no-repeat;
	float:right;
}
#header {
	width:990px;
	height:347px;
	background:url(../images/mv.jpg) no-repeat;
	margin:auto;
	position:relative;
}
.logo {
	width:135px;
	height:38px;
	background:url(../images/logo.png) no-repeat;
	position:absolute;
	top:23px;
	left:16px;
}
.share {
	width:86px;
	height:26px;
	position:absolute;
	top:3px;
	right:4px;
}
.nav {
	width:570px;
	height:60px;
	position:absolute;
	bottom:14px;
	left:340px;
}
.nav .on {
	display:inline-block;
	width:138px;
	height:auto;
	background-color:#dd9616;
	background-color:transparent \9;
	background:url(../images/nav_on.png) no-repeat \9;
    box-shadow: 2px 3px 5px #7e6e5a;
	font-family:"微軟正黑體";
	font-size:23px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding-top:13px;
	padding-bottom:13px;
	border-radius:10px;
}
.nav .off {
	display:inline-block;
	width:138px;
	height:auto;
	background-color:#dd9616;
	background-color:transparent \9;
	background:url(../images/nav_off.png) no-repeat \9;
    box-shadow: 2px 3px 5px #7e6e5a;
	font-family:"微軟正黑體";
	font-size:23px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding-top:13px;
	padding-bottom:13px;
	border-radius:10px;
}
.nav a:hover {
	background-color:#4f3d2f;
	background-color:transparent \9;
	background:url(../images/nav_on.png) no-repeat \9;
	text-decoration:underline;
}

/*首頁*/
.tableFix {
	height:800px;
}
.titleArea-1 {
	width:868px;
	height:122px;
	margin:0 auto;
	position:relative;
}
.titleArea-1 .titleIcon {
	width:23px;
	height:23px;
	background:url(../images/icon_1.png) no-repeat;
}
.titleArea-1 .titleIcon-1 {
	position:absolute;
	top:0;
	left:0;
}
.titleArea-1 .titleIcon-2 {
	position:absolute;
	top:80px;
	left:0;
}
.titleArea-1 .introTitle {
	width:auto;
	font-family:"微軟正黑體";
	font-size:18px;
	color:#362f2d;
	font-weight:bold;
}
.titleArea-1 .introTitle-1 {
	position:absolute;
	top:0;
	left:30px;
}
.titleArea-1 .introTitle-2 {
	position:absolute;
	top:80px;
	left:30px;
}
.titleArea-1 .introTxt {
	width:auto;
	height:80px;
	font-size:15px;
	color:#000;
	letter-spacing:2px;
}
.titleArea-1 .introTxt-1 {
	position:absolute;
	top:0;
	left:123px;
}
.titleArea-1 .btn {
	width:206px;
	height:81px;
	background:url(../images/btn-off.png) no-repeat;
	position:absolute;
	top:-7px;
	right:-5px;
}
.titleArea-1 .btn:hover {
	background:url(../images/btn-on.png) no-repeat;
}
.introTable {
}
.introTable .introTable-1 {
	width:400px;
	height:auto;
	float:left;
}
.introTable .introTable-2 {
	width:400px;
	height:auto;
	float:right;
}
.introTable .introTable-3 {
	width:100%;
	height:auto;
	float:left;
}
.introTable .introTable-4 {
	width:100%;
	height:auto;
	float:left;
}
.introTable {
	width:816px;
	height:auto;
	margin:0 auto;
}
.introTable > div {
	margin-bottom:30px;
}
.introTable table {
	width:100%;
	height:auto;
	border-collapse:collapse;
}
.introTable table tr th {
	height:30px;
	background-color:#95744f;
	border:1px #ab9e90 solid;
	font-size:1em;
	color:#fff;
	letter-spacing:4px;
	vertical-align:middle;
}
.introTable table tr td {
	border:1px #ab9e90 solid;
	background-color:#fff;
	font-size:13px;
	color:#333;
	vertical-align:top;
	padding-top:5px;
	padding-bottom:15px;
}
.introTable .tableTitle-1 {
	color:#c63b2c;
	font-weight:bold;
	letter-spacing:1px;
}
.introTable table ul {
	list-style:none;
	margin-left:5px;
}
.introTable table ul li {
	letter-spacing:1px;
	line-height:20px;
}
.introTable table ul li:before {
	font-family:Arial, Helvetica, sans-serif;
	content:"．";
}
.introTable .subTh {
	height:30px;
	background-color:#fff1ab;
	font-size:13px;
	color:#362f2d;
	font-weight:bold;
	letter-spacing:1px;
	text-align:center;
	vertical-align:middle;
}
.introTable .introTable-4 table tr th {
	background-color:#95744f;
	border:1px #ab9e90 solid;
	font-size:13px;
	color:#fff;
	letter-spacing:1px;
	vertical-align:middle;
	padding:0 5px;
}
.introTable .introTable-4 table tr td {
	border:1px #ab9e90 solid;
	background-color:#fff;
	font-size:13px;
	color:#333;
	vertical-align:middle;
	padding:5px;
}
.introTable .introTable-4 .tableTitle-1 {
	color:#c63b2c;
	font-weight:bold;
	letter-spacing:1px;
}
.introTable .introTable-4 .subTh {
	background-color:#fff1ab;
	font-size:13px;
	color:#362f2d;
	font-weight:bold;
	letter-spacing:1px;
	text-align:center;
	vertical-align:middle;
}
.introTable .introTable-4 a {
	font-size:13px;
	color:#c63b2c;
	margin-left:5px;
}
.introTable .introTable-4 a:hover {
	text-decoration:none;
}
.introTable .introTable-4 .testTime {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.noteArea {
	width:auto;
	height:auto;
	padding:20px 30px 40px 30px;
	border-top:2px #d3c3a4 solid;
}
.noteArea .title {
	width:auto;
	height:30px;
	font-size:0.8em;
	color:#910a00;
	font-weight:bold;
	letter-spacing:1px;
}
.noteArea ul {
	font-size:13px;
	color:333;
	letter-spacing:2px;
	list-style:decimal;
	list-style-position:outside;
	margin-left:50px;
}
.noteArea ul li {
	line-height:24px;
}
.hotArea {
	width:100%;
	height:287px;
	border-bottom:2px #d3c3a4 solid;
}	
.hotArea .hotTitle {
	width:100%;
	height:36px;
	background:url(../images/note-title.gif) no-repeat;
}
.hotArea .bannerArea {
	width:807px;
	height:211px;
	background-color:#fff5ee;
	margin:20px auto;
}
.bannerArea > div {
	width:764px;
	margin:0 auto;
	padding-top:17px;
	padding-bottom:25px;
}
.bannerArea .bannerLink {
	width:248px;
	height:169px;
	margin-right:10px;
	float:left;
}
.bannerLink a {
	font-size:15px;
	color:#736357;
	font-weight:bold;
	text-decoration:none;
}
.bannerLink a:hover .bannerTitle {
	color:#333;
}
.bannerArea .bannerTitle {
	width:100%;
	height:21px;
	font-size:15px;
	color:#736357;
	font-weight:bold;
}
.bannerArea .bannerPic {
	width:100%;
	height:146px;
	border:1px #c3bbb3 solid;
}
.bannerArea a:hover .bannerPic {
	border:1px #666 solid;
}
.bannerPic img {
	width:248px;
	height:146px;
	border:0;
}
.logoArea {
	width:100%;
	height:194px;
	font-family:"微軟正黑體";
	font-size:1em;
	color:#362f2d;
	font-weight:bold;
	position:relative;
}
.logoArea .title-1 {
	width:80px;
	height:15px;
	position:absolute;
	top:76px;
	left:39px;
}
.logoArea .title-2 {
	width:80px;
	height:15px;
	position:absolute;
	top:76px;
	left:296px;
}
.logoArea .title-3 {
	width:80px;
	height:15px;
	position:absolute;
	top:138px;
	left:39px;
}
.logoArea .com-1 {
	width:151px;
	height:43px;
	background:url(../images/com-1.png) no-repeat;
	position:absolute;
	top:58px;
	left:115px;
}
.logoArea .com-2-1 {
	width:194px;
	height:85px;
	background:url(../images/com-2-1.png) no-repeat;
	position:absolute;
	top:26px;
	left:381px;
}
.logoArea .com-2-2 {
	width:233px;
	height:56px;
	background:url(../images/com-2-2.png) no-repeat;
	position:absolute;
	top:53px;
	left:597px;
}
.logoArea .com-3 {
	width:240px;
	height:30px;
	background:url(../images/com-3.png) no-repeat;
	position:absolute;
	top:128px;
	left:118px;
}


/*推薦工作*/
.mainContent .txtArea-2 {
	width:908px;
	height:820px;
	background-color:#ffffff;
	margin:0 auto;
}
.pushArea-1 {
	width:770px;
	height:186px;
	margin:0 auto 40px;
	position:relative;
}
.pushArea-1 .tabArea-1 {
	width:770px;
	height:30px;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
.tabArea-1 a {
	margin-right:-4px;
}
.tabArea-1 a:hover {
	background-color:#fff;
	font-size:15px;
	color:#736357;
}
.tabArea-1 .on {
	display:inline-block;
	width:70px;
	height:14px;
	background-color:#fff;
	border:1px #c3bbb3 solid;
	border-bottom:none;
	font-size:15px;
	color:#736357;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding-top:6px;
	padding-top:10px \9;
	padding-bottom:10px;
	padding-bottom:6px \9;
}
.tabArea-1 .off {
	display:inline-block;
	width:70px;
	height:14px;
	background-color:#937d64;
	border:1px #c3bbb3 solid;
	border-left:none;
	border-bottom:none;
	font-size:15px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding-top:6px;
	padding-top:10px \9;
	padding-bottom:10px;
	padding-bottom:6px \9;
}
.pushArea-1 .tabContent {
	width:770px;
	height:155px;
	border:1px #c3bbb3 solid;
	position:absolute;
	top:31px;
	left:0;
	z-index:1;
}
.pushArea-2 {
	width:786px;
	height:573px;
	margin:0 auto;
}

/*立即報名*/
.joinTable {
	width:856px;
	height:532px;
	margin:0 auto;
	position:relative;
}
.joinTable .tableIcon {
	width:23px;
	height:23px;
	background:url(../images/icon_1.png) no-repeat;
}
.joinTable .tableIcon-1 {
	position:absolute;
	top:50px;
	left:0;
}
.joinTable .tableIcon-2 {
	position:absolute;
	top:100px;
	left:0;
}
.joinTable .tableIcon-3 {
	position:absolute;
	top:150px;
	left:0;
}
.joinTable .tableIcon-4 {
	position:absolute;
	top:200px;
	left:0;
}
.joinTable .tableIcon-5 {
	position:absolute;
	top:250px;
	left:0;
}
.joinTable .tableIcon-6 {
	position:absolute;
	top:300px;
	left:0;
}
.joinTable .title {
	width:auto;
	font-family:"微軟正黑體";
	font-size:18px;
	color:#362f2d;
	font-weight:bold;
}
.joinTable .title-1 {
	position:absolute;
	top:50px;
	left:28px;
}
.joinTable .title-2 {
	position:absolute;
	top:100px;
	left:28px;
}
.joinTable .title-3 {
	position:absolute;
	top:150px;
	left:28px;
}
.joinTable .title-4 {
	position:absolute;
	top:200px;
	left:28px;
}
.joinTable .title-5 {
	position:absolute;
	top:250px;
	left:28px;
}
.joinTable .title-6 {
	position:absolute;
	top:300px;
	left:28px;
}
.joinTable .txt {
	width:auto;
	font-size:1em;
	color:#000;
}
.joinTable .txt-1 {
	position:absolute;
	top:50px;
	left:83px;
}
.joinTable .txt-2 {
	position:absolute;
	top:100px;
	left:83px;
}
.joinTable .txt-3 {
	position:absolute;
	top:150px;
	left:92px;
}
.joinTable .txt-4 {
	position:absolute;
	top:200px;
	left:116px;
}
.joinTable .txt-5 {
	position:absolute;
	top:250px;
	left:116px;
}
.joinTable .txt-5 span {
	margin-right:20px;
}
.joinTable .txt-5 input[type="radio"] {
	vertical-align:middle;
	margin-right:2px;
}
.joinTable .txt-6 {
	position:absolute;
	top:340px;
	left:37px;
}
.joinTable .txt-6 span {
	margin-right:20px;
}
.joinTable .txt-6 input[type="checkbox"] {
	vertical-align:middle;
	margin-right:2px;
}
.joinTable .dotline {
	width:100%;
	border-top:1px #686561 dashed;
	position:absolute;
	bottom:117px;
	left:0;
}
.joinTable .txt-7 {
	font-size:13px;
	letter-spacing:1px;
	position:absolute;
	bottom:57px;
	left:37px;
}
.joinTable .txt-7 input[type="checkbox"] {
	vertical-align: middle;
}
.joinTable .btn {
	width:84px;
	height:auto;
	background-color:#41372e;
	border-radius:10px;
	font-family:"微軟正黑體";
	font-size:18px;
	color:#fff;
	letter-spacing:2px;
	text-align:center;
	text-decoration:none;
	padding-top:8px;
	padding-bottom:7px;
	position:absolute;
	bottom:48px;
	left:440px;
}
.joinTable .btn:hover {
	background-color:#7c6d5f;
	text-decoration:underline;
}

/*頁尾*/
#footer {
	clear:both;
	width:990px;
	height:46px;
	background-color:#745626;
	padding-top:10px;
	margin:0 auto;
}
#footer > .footer-txt {
	width:auto;
	height:11px;
/*	border-top:1px #5c4518 solid;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d5b896;
	text-align:center;
	letter-spacing:1px;
	padding-top:10px;
}