/*通用設定*/
* {
	font-family:"微軟正黑體";
}
body {
	background-color:#fff;
}
img {
	width:100%;
	height:auto;
}
.padFix {
	padding:0 !important;
}
.padFix-2 {
	padding-bottom:20px;
}
.marginFix {
	margin:0 !important;
}
.marginFix-2 {
	margin-top:36px;
}
.marginFix-3 {
	margin-top:20px;
}
.marginFix-4 {
	margin-bottom:10px;
}
.marginFix-bottom {
	margin-bottom:0 !important;
}
.bgFix-1 {
	background-color:#b6ecfc !important;
}
.bgFix-2 {
	background-color:#eaf6fd;
}
.last {
	margin-right:0 !important;
}
.posFix {
	position:relative;
}
.boxed {
	max-width:990px;
	margin:0;
	padding:0;
}
.logo-2 {
	width:123px;
	height:31px;
	position:absolute;
	top:9px;
	left:18px;
}
.logo-3 {
	width:250px;
	height:auto;
	position:absolute;
	top:5px;
	right:10px;
}
.bg-main {
	background:url(../images/bg_main.png) no-repeat top center;
	width:100%;
	height:auto;
	background-color:#e4007f;
	padding:0 15px;
	position:relative;
}
.title-main {
	width:62%;
	margin-top:20px;
}
.row-title {
	margin-top:72px;
	margin-right:100px;
	margin-left:100px;
}
.mainContent {
	background-color:#fff;
	border-radius:10px;
	margin-top:40px;
	margin-right:100px !important;
	margin-bottom:20px;
	margin-left:100px !important;
	padding:30px 50px 20px;
}
.mainContentFix {
	border-top-right-radius:0;
	border-top-left-radius:0;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	margin-top:0;
}
.star-1 {
   width:74px;
   height:54px;
   background:url(../images/dec_star_1.png);
   position:absolute;
   top:-33px;
   left:-13px;
}
.star-2 {
   width:32px;
   height:36px;
   background:url(../images/dec_star_2.png);
   position:absolute;
   top:-20px;
   right:-10px;
}
.titleArea {
   width:auto;
   height:1px;
   background-color:#fff;
   margin-right:100px;
   margin-left:100px;
}
.mainTitle {
	width:auto;
	height:auto;
	position:absolute;
	top:-35px;
	left:66px;
}
.mainEng {
	width:auto;
	height:auto;
	position:absolute;
	top:-19px;
	right:15px;
}
.btn-purple {
	background-color:#7c196e;
	color:#fff;
}
.btn-gray {
	background-color:#939598;
	color:#fff;
}
.dotline-1 {
	background:url(../images/dec-dashed-1.png) repeat-x left 30px !important;
}
.nobg {
	background:none;
}
#toplink_32811 span {
	top:0 !important;
}
.modal-body {
	padding-bottom:0 !important;	
}
.modal-body .btn {
	font-size:1.9em;
	padding-top:10px;
}
.shareTxt {
	font-size:2.5rem !important;
	font-weight:bold;
	margin-left:5px;
}
.shareLine img {
	width:23px;
	height:23px;
}
.heightFix {
	height:48px;
}
.heightFix-2 {
	height:48px;
}


/*頁首 header */
.header {
	width:100%;
	height:28px;
	background-color: #2e2e2e;
	color:#fff;
}
.info-1 {
	width:163px;
	height:281px;
	position:absolute;
	top:-40px;
	left:47px;
	z-index:1;
}
.info-2 {
	width:163px;
	height:auto;
}
#logo {
	position:absolute;
	top:12px;
	left:3px;	
}
#logo img {
	width:78px;
	height:15px;
}
#logo .fa-chevron-left {
	color:#999;
	margin-right:3px;
}
#mainBtn {
	border:1px #9fa0a0 solid;
	border-radius:3px;
	color:#9fa0a0;
	padding:4px 8px 1px;
	position:absolute;
	top:3px;
	right:5px;
}
.titleArea-xs {
	height:44px;
	background-color:#dff2fc;
	font-size:1.1em;
	color:#124b7c;
	font-weight:bold;
	text-align:center;
	padding-top:12px;
	padding-bottom:5px;	
}
.titleArea-xs h4 {
	margin-top:2px;
	margin-bottom:0;
	padding-left:20px;
}
#nav {
	width:100%;
	background-color:#9f0059;
	text-align:center;
	padding-top:8px;
	padding-bottom:7px;
}
#nav > div {
	max-width:990px;
	margin:0 auto;
}
#nav .dropdown-menu {
	min-width:100px;
	width:100px;
	background-color:#50002c;
	position:absolute;
	top:18px;
	left:-7px;
}
#nav .dropdown-menu li:hover {
	background-color:#000;
}
#nav .dropdown-menu a {
	margin:0;
	padding-right:10px;
	padding-left:10px;
}
#nav .dropdown-menu a:hover {
	background-color:#000;
}
#nav a {
	display:inline-block;
	font-size:1.1em;
	color:#fff;
	font-weight:bold;
	margin-right:12px;
	margin-left:12px;
}

/*手機版主選單*/
#mainMenu {
	width:100%;
	height:auto;
}
#mainMenu ul {
	list-style:none;
	margin:0;
	padding:0;
}
#mainMenu a:hover {
	text-decoration:none;
}
#mainMenu ul li {
	width:100%;
	height:auto;
	background-color:#9f0059;
	font-size:1.3em;
	color:#fff;
	font-weight:bold;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px #e4007f solid;
}
#mainMenu ul li {
	color:#fff;
}


/*首頁 index */
#wrapper-index {
}
#wrapper-index .title-main {
}
#wrapper-index .btn_nail {
	margin-top:44px;
	margin-bottom:30px;
}
#wrapper-index .btn_hair {
	margin-top:30px;
	margin-bottom:30px;
}
#wrapper-index .btn_go {
	max-width:156px;
	margin-top:50px;
}
#wrapper-index .btn_go_2 {
	width:154px;
	height::154px;
	margin-top:10px;
}
#wrapper-index .info_2 {
	width:154px;
	height::154px;
}
#wrapper-index .index_dec_1 {
	width:213px;
	height:135px;
	position:absolute;
	top:165px;
	left:-30px;
}
#wrapper-index .shareArea {
	margin-top:70px;
}
#wrapper-index .shareArea button {
	padding-top:10px;
}
#wrapper-index .shareArea span span {
	margin-left:5px;
}
#wrapper-index .shareArea .shareBtn {
	font-size:2rem;
	font-weight:bold;
	margin-left:5px;
}
#wrapper-index .sponsor {
	max-width:693px;
	height:auto;
	margin-top:50px;
	margin-bottom:20px;
}
#wrapper-index .sponsor-xs {
	font-size:1.2em;
	color:#fff !important;
	font-weight:bold;
}
#wrapper-index .sponsor-xs span {
	margin-right:5px;
}

	
/* 活動辦法 event */
#wrapper-event h1 {
	display:inline-block;
	font-size:1.3em;
	font-weight:bold;
	margin-left:3px;
}
#wrapper-event {
	font-size:1.1em;
}
#wrapper-event .applyTxt {
	color:#ff0000;
	margin-top:10px;
}
#wrapper-event .prizeArea {
	font-size:0.8em;
}
#wrapper-event .prizeArea .fa-heart {
	color:#7c196e !important;
}
#wrapper-event .prizeArea .title {
	font-size:1.5em;
	color:#7c196e;
	font-weight:bold;
}
#wrapper-event .prizeArea .title-2 {
	width:80px;
	font-size:1.1em;
	font-weight:bold;
}
#wrapper-event .modify {
	color:#ff0000;
}
#wrapper-event .hot {
	color:#1351c2;
}


/* 好店推薦 */
#wrapper-store .tabArea {
	border-bottom:2px #1f8fcf solid;
	margin-top:25px;
	margin-right:100px;
	margin-left:100px;
}
#wrapper-store .tabArea a {
	display:inline-block;
	background-color:#7fcef5;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	font-size:1.1em;
	color:#fff;
	font-weight:bold;
	letter-spacing:3px;
	padding:6px 22px;
}
#wrapper-store .tabArea .on, #wrapper-store .tabArea a:hover {
	background-color:#1d8fcb;
}
#wrapper-store .signTable {
	width:auto;
	padding-right:75px;
	padding-left:50px;
}
#wrapper-store .pageArea {
	width:100%;
	color:#000;
	font-weight:bold;
	text-align:center;
	margin-top:25px;
	margin-bottom:15px;
	float:left;	
}
#wrapper-store .pageArea input {
	text-align:center;
}
#wrapper-store .pageArea a {
	display:inline-block;
	color:#000;
	padding-left:5px;
	padding-right:5px;
}
#wrapper-store .pageArea a:hover {
	color:#000;
}
#wrapper-store .pageArea input {
	width:30px;
}
#wrapper-store .storeItem {
	background-color:#e0f2fc;
	border-radius:10px;
	margin-bottom:10px;
	padding:10px;
	float:left;
}
#wrapper-store h1 {
	border-bottom:1px #b0bbc2 dashed;
	font-size:1.3em;
	color:#9e3e8b;
	font-weight:bold;
	margin:0 0 5px 0;
	padding-bottom:5px;
}
#wrapper-store .storePic {
	max-width:96px !important;
	margin-bottom:5px;
}


/* 活動報名 sign */
#wrapper-sign .signTable span {
	display:inline-block;
	width:100%;
	text-align:right;
	margin-right:5px;
}
#wrapper-sign .signTable .row {
	width:80%;
	background-color:#eaf6fd;
	border-radius:10px;
	margin:0 auto;
	padding:30px 70px 20px 50px;
}
#wrapper-sign .signTable table {
	width:100%;
	height:auto;
}
#wrapper-sign .signTable table td {
	margin:0;
	padding:2px;
}
#wrapper-sign .noteArea {
	color:#e60012;
}
#wrapper-sign .noteArea ul {
	list-style: decimal;
	margin-left:-21px;
}
#wrapper-sign .workDes textarea {
	height:100px;
	margin-bottom:5px;
}
#wrapper-sign .Confirm {
	padding-bottom:0;
}
#wrapper-sign .sort button, #wrapper-sign .nickName input, #wrapper-sign .workName input, #wrapper-sign .workDes textarea {
	width:100%;
}
#wrapper-sign .nickName .form-control {
	display:inline-block;
	width:100%;
}
#wrapper-sign .sort button {
	text-align:left;
}
#wrapper-sign .upload input {
	width:83%;
}
#wrapper-sign .upload button {
	margin-left:5px;
}


/* 獎項資訊 award */
#wrapper-award .titleNum {
	max-width:680px;
	height:auto;
}
#wrapper-award .numArea-1 {
	background-color:#06a8bd;
	border-radius:10px;
	padding-top:28px;
}
#wrapper-award .awardNum {
	width:116px;
	height:147px;
	position:absolute;
	top:-14px;
	left:70px;
	z-index:2;
}
#wrapper-award .cash {
	width:211px;
	height:50px;
	position:absolute;
	top:14px;
	left:267px;
}
#wrapper-award .cashTxt {
	width:60px;
	height:auto;
	font-size:24px;
	color:#2f3d93;
	font-weight:bold;
	position:absolute;
	top:27px;
	left:485px;
}
#wrapper-award .numTxt-1 {
	width:320px;
	height:auto;
	font-size:18px;
	color:#000;
	font-weight:bold;
	position:absolute;
	top:67px;
	left:238px;
}
#wrapper-award .numTxt-2 {
	width:320px;
	height:auto;
	font-size:18px;
	color:#000;
	font-weight:bold;
	position:absolute;
	top:67px;
	left:248px;
}
#wrapper-award .numTxt-3 {
	width:320px;
	height:auto;
	font-size:18px;
	color:#000;
	font-weight:bold;
	position:absolute;
	top:67px;
	left:327px;
}
#wrapper-award .gift-1 {
	max-width:337px;
	height:auto;
	margin:0 auto;
}
#wrapper-award .gift-2 {
	max-width:257px;
	height:auto;
	margin-top:42px;
	margin-bottom:25px;
}
#wrapper-award .gift-2-1 {
	font-size:1.5em;
	color:#fff;
	font-weight:bold;
	margin-top:79px;
}
#wrapper-award .awardName {
	width:420px;
	height:auto;
	font-size:24px;
	color:#2f3d93;
	font-weight:bold;
	position:absolute;
	top:30px;
	left:200px;
}
#wrapper-award .awardName-2 {
	width:230px;
	height:auto;
	font-size:30px;
	color:#2f3d93;
	font-weight:bold;
	position:absolute;
	top:26px;
	left:288px;
}
#wrapper-award .cash-2 {
	width:230px;
	height:64px;
}
#wrapper-award .randomArea {
	margin-top:27px;
	margin-bottom:10px;
}
#wrapper-award .random-1 {
	background-color:#fff;
	border-radius:10px;	
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
}
#wrapper-award .awardLogo {
	width:200px;
	position:absolute;
	top:10px;
	left:10px;
	z-index:1;
}
#wrapper-award .awardLogo-1 {
	width:103px;
	height:34px;
}
#wrapper-award .awardLogo-1 {
	width:74px;
	height:36px;
}
#wrapper-award .pic-01 {
	width:94px;
	height:117px;
	margin:0 auto;
}
#wrapper-award .pic-02 {
	width:40px;
	height:117px;
	margin:0 auto;
	padding-top:35px;
}
#wrapper-award .pic-03 {
	width:138px;
	height:117px;
	margin:0 auto;
	padding-top:28px;
}
#wrapper-award .pic-04 {
	width:53px;
	height:117px;
	margin:0 auto;
	padding-top:5px;
}
#wrapper-award .pic-05 {
	width:138px;
	height:117px;
	margin:0 auto;
	padding-top:28px;
}
#wrapper-award .pic-06 {
	width:55px;
	height:117px;
	margin:0 auto;
	padding-top:5px;
}
#wrapper-award .randomTitle {
	font-size:1.2em;
	color:#9e3e8b;
	font-weight:bold;
	text-align:center;
}
#wrapper-award .randomTxt-1 {
	font-size:1em;
	color:#595757;
	text-align:center;
}	
#wrapper-award .randomTxt-2 {
	font-size:1.2em;
	color:#000;
	text-align:center;
}
#wrapper-award .randomTxt-2 span {
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.2em;
}

	
/* 教學影片 movie*/
#wrapper-movie .pageArea {
	width:100%;
	color:#ea5ea0;
	font-weight:bold;
	text-align:center;
	margin-bottom:15px;
	float:left;	
}
#wrapper-movie .pageArea input {
	text-align:center;
}
#wrapper-movie .pageArea a {
	display:inline-block;
	color:#fff;
	padding-left:5px;
	padding-right:5px;
}
#wrapper-movie .pageArea a:hover {
	color:#fff;
}
#wrapper-movie .pageArea input {
	width:30px;
}
#wrapper-movie .movieArea {
	background-color:#fff;
	border-radius:10px;
	font-size:1.3em;
	color:#000;
	font-weight:bold;
	padding:10px;
	
}
#wrapper-movie .movieArea .movie {
	margin-bottom:8px;
}


/* 圖片上傳 upload-mobile */
#wrapper-uploadMobile .signTable .row {
	width:100%;
	background-color:#eaf6fd;
	border-radius:10px;
	margin:0 auto;
	padding:30px 70px 20px 50px;
}
#wrapper-uploadMobile .Confirm {
	padding-bottom:0;
	float:none;
}
#wrapper-uploadMobile .Confirm .btn {
	font-size:0.9em;
}
#wrapper-uploadMobile .upload button {
	font-size:0.9em;
	margin-bottom:10px;
	margin-left:5px;
}
#wrapper-uploadMobile .upImg {
	width:100%;
	min-height:200px;
	background-color:#fff;
	border:1px #d3e0e7 solid;
	margin-top:5px;
	margin-bottom:15px;
	float:left;
}


/* 頁尾 footer ****************************************************************************/
.footer {
	width:100%;
	height:auto;
	background-color:#50002c;
	font-size:0.8em;
	color:#fff;
	text-align:center;
	padding-top:7px;
	padding-bottom:5px;
	float:left;
}
.footer .copyright-tw {
	width:50%;
	text-align:right;
	float:left;
}
.footer .copyright-eng {
	width:50%;
	text-align:left;
	float:left;
}


/* 網頁投票-美髮 hair */
#wrapper-hair .hairItem {
	width:100%;
	height:auto;
	border-radius:10px;
	background-color:#fff;	
}
#wrapper-hair .hairItem .pic {
	width:100%;
	height:auto;
}
#wrapper-hair .hairItem .pic img {
	border-top-right-radius:10px;
	border-top-left-radius:10px
}
#wrapper-hair hr {
	border-width:0;
	border-top:1px #bcbec0 solid;
	margin-top:10px;
	margin-bottom:15px;
}
#wrapper-hair .hairItem .linkTxt {
	padding:15px 10px 10px;
}
#wrapper-hair .hairItem .linkTxt a {
	color:#000;
}
#wrapper-hair .hairItem .linkTxt a:hover {
	text-decoration:underline;
}	
#wrapper-hair .hairItem .linkTxt .title {
	font-size:1.25em;
	font-weight:bold;
}
#wrapper-hair .hairItem .linkTxt .name {
	font-size:1.1em;
	font-weight:bold;
}
#wrapper-hair .hairItem .linkTxt .txt {
	width: 100%;
	height: 45px;
	display: -webkit-box;
	overflow: hidden;
	font-size: 1.1em;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
#wrapper-hair .hairItem .heart:hover {
	text-decoration:none;	
}
#wrapper-hair .hairItem .num {
	font-size:1.2em;
	color:#ef4123;
	font-weight:bold;
}
#wrapper-hair .hairItem .fb {
	position:absolute;
	right:10px;
	bottom:10px;
}
#wrapper-hair .pageArea {
	width:100%;
	color:#fff;
	font-weight:bold;
	text-align:center;
	margin-top:0;
	margin-bottom:15px;
	float:left;	
}
#wrapper-hair .pageArea input {
	text-align:center;
}
#wrapper-hair .pageArea a {
	display:inline-block;
	color:#fff;
	padding-left:5px;
	padding-right:5px;
}
#wrapper-hair .pageArea a:hover {
	color:#fff;
}
#wrapper-hair .pageArea input {
	width:30px;
}


/* 網頁投票-美髮-詳細頁 hair-1 */
#wrapper-hair-1 .picDetail {
	border-radius:10px;
}
#wrapper-hair-1 .picDetail img {
	border-radius:10px;
}
#wrapper-hair-1 .title {
	font-size:1.3em;
	color:#2f3d93;
	font-weight:bold;
}
#wrapper-hair-1 .name {
	font-size:1.2em;
	color:#000;
	font-weight:bold;
}
#wrapper-hair-1 .txt {
	font-size:1.1em;
	color:#000;
}
#wrapper-hair-1 .btn {
	font-size:1.1em; padding: 9px 15px;margin-top:10px; margin-left: 5px; margin-bottom: 2px;
}


/* 網頁投票-美甲-詳細頁 nailr-1 */
#wrapper-nail-1 .picDetail {
	border-radius:10px;
}
#wrapper-nail-1 .picDetail img {
	border-radius:10px;
}
#wrapper-nail-1 .title {
	font-size:1.3em;
	color:#2f3d93;
	font-weight:bold;
}
#wrapper-nail-1 .name {
	font-size:1.2em;
	color:#000;
	font-weight:bold;
}
#wrapper-nail-1 .txt {
	font-size:1.1em;
	color:#000;
}
#wrapper-nail-1 .btn {
	font-size:1.1em; padding: 9px 15px;margin-top:10px; margin-left: 5px; margin-bottom: 2px;
}	


/* 網頁投票-美甲 nail */
#wrapper-nail .hairItem {
	width:100%;
	height:auto;
	border-radius:10px;
	background-color:#fff;	
}
#wrapper-nail .hairItem .pic {
	width:100%;
	height:auto;
}
#wrapper-nail .hairItem .pic img {
	border-top-right-radius:10px;
	border-top-left-radius:10px
}
#wrapper-nail hr {
	border-width:0;
	border-top:1px #bcbec0 solid;
	margin-top:10px;
	margin-bottom:15px;
}
#wrapper-nail .hairItem .linkTxt {
	padding:15px 10px 10px;
}
#wrapper-nail .hairItem .linkTxt a {
	color:#000;
}
#wrapper-nail .hairItem .linkTxt a:hover {
	text-decoration:underline;
}	
#wrapper-nail .hairItem .linkTxt .title {
	font-size:1.25em;
	font-weight:bold;
}
#wrapper-nail .hairItem .linkTxt .name {
	font-size:1.1em;
	font-weight:bold;
}
#wrapper-nail .hairItem .linkTxt .txt {
	width: 100%;
	height: 45px;
	display: -webkit-box;
	overflow: hidden;
	font-size: 1.1em;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
#wrapper-nail .hairItem .heart:hover {
	text-decoration:none;	
}
#wrapper-nail .hairItem .num {
	font-size:1.2em;
	color:#ef4123;
	font-weight:bold;
}
#wrapper-nail .hairItem .fb {
	position:absolute;
	right:10px;
	bottom:10px;
}
#wrapper-nail .pageArea {
	width:100%;
	color:#fff;
	font-weight:bold;
	text-align:center;
	margin-top:0;
	margin-bottom:15px;
	float:left;	
}
#wrapper-nail .pageArea input {
	text-align:center;
}
#wrapper-nail .pageArea a {
	display:inline-block;
	color:#fff;
	padding-left:5px;
	padding-right:5px;
}
#wrapper-nail .pageArea a:hover {
	color:#fff;
}
#wrapper-nail .pageArea input {
	width:30px;
}


/************************************以下為自訂RWD*******************************************************/

/* 通用設定 common */
@media screen and (max-width: 767px) {
.row-title {
	margin-top:30px;
	margin-right:0px;
	margin-left:0px;
}
.mainContent {
	margin-right:0px !important;
	margin-left:0px !important;
}
.titleArea {
	margin-right:0px;
	margin-left:0px;
}
.mainContent {
	border-radius:5px;
	margin-top:25px;
	margin-right:5px !important;
	margin-left:5px !important;
	padding:5px 20px;
}
.modal-footer .btn {
	width:100%;
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
.info-1 {
	width:130px;
}
.mainContent {
	margin-right:50px !important;
	margin-left:50px !important;
}
.titleArea {
	margin-right:50px;
	margin-left:50px;
}	
}


/*首頁 index RWD*/
@media screen and (max-width: 479px) {
.footer .copyright-tw {
	width:100%;
	text-align:center;
}
.footer .copyright-eng {
	width:100%;
	text-align:center;
}
.title-main {
	width:100%;
	margin-top:10px;
	margin-bottom:0;
}
#wrapper-index .btn_hair {
	width:80%;
	margin-top:0;
	margin-bottom:20px;
}
#wrapper-index .btn_nail {
	width:80%;
	margin-top:20px;
}
.info-2 {
	width:100% !important;
	height:auto !important;
}
#wrapper-index .btn_go {
	max-width:156px;
	margin-top:50px;
}
#wrapper-index .sponsor {
	margin-top:10px;

}
#wrapper-index .sponsor-xs-1, #wrapper-index .sponsor-xs-2 {
	margin-bottom:30px;
}
#wrapper-index .shareArea {
	margin-top:10px;
	margin-bottom:30px;
}
#wrapper-index .shareArea button {
	width:50%;
	padding-top:15px;
	padding-bottom:10px;
}
#wrapper-index .shareArea .shareBtn {
	font-size:1.5rem;
}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
.title-main {
	width:100%;
	margin-top:10px;
	margin-bottom:0;
}
#wrapper-index .btn_hair {
	width:70%;
	margin:20px auto;
}
#wrapper-index .btn_nail {
	width:70%;
	margin:20px auto 0;
}
.info-2 {
}
#wrapper-index .sponsor-xs-1, #wrapper-index .sponsor-xs-2 {
	width:70%;
	margin-bottom:30px;
}
#wrapper-index .shareArea {
	margin-top:10px;
	margin-bottom:30px;
}
#wrapper-index .shareArea button {
	width:50%;
	padding-top:15px;
	padding-bottom:10px;
}
#wrapper-event .flow {
	text-align:center;
}
#wrapper-event .flow img {
	max-width:50%;
	margin-bottom:10px;
}
}

@media screen and (min-width: 640px) and (max-width: 767px) {
.title-main {
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
}
#wrapper-index .btn_hair {
	width:70%;
	margin:20px auto;
}
#wrapper-index .btn_nail {
	width:70%;
	margin:20px auto 0;
}
.info-2 {
}
#wrapper-index .sponsor-xs-1, #wrapper-index .sponsor-xs-2 {
	width:70%;
	margin-bottom:30px;
}
#wrapper-index .shareArea {
	margin-top:10px;
	margin-bottom:30px;
}
#wrapper-index .shareArea button {
	width:50%;
	padding-top:15px;
	padding-bottom:10px;
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
#wrapper-index .btn_hair {
	margin-top:60px;
}
#wrapper-index .btn_nail {
	margin-top:72px;
}
#wrapper-index .btn_go {
}
#wrapper-index .index_dec_1 {
}
#wrapper-index .info-1 {
	top:0;
}
#wrapper-index .shareArea {
	margin-top:170px;
	margin-bottom:30px;
}
#wrapper-index .shareArea button {
	width:20%;
	padding-top:15px;
	padding-bottom:10px;
}
}


/*活動辦法 event RWD*/
@media screen and (max-width: 479px) {
.mainTitle {
	width:100px;
	top:-24px;
}
#wrapper-event .flow {
	width:70%;
	text-align:center;
	margin:0 auto;
}
#wrapper-event .flow > div {
	margin-bottom:10px;
}
#wrapper-event .flow img {
	max-width:75%;
	margin-bottom:10px;
}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
.mainTitle {
	width:100px;
	top:-24px;
}	
}

@media screen and (min-width: 640px) and (max-width: 767px) {
.mainTitle {
	width:100px;
	top:-24px;
}
#wrapper-event .flow {
	text-align:center;
}
#wrapper-event .flow img {
	max-width:50%;
	margin-bottom:10px;
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {...}


/*好店推薦 store RWD*/
@media screen and (max-width: 479px) {
#wrapper-store .tabArea {
	border-bottom:0;
	margin-top:25px;
	text-align:center;
	margin-right:-15px;
	margin-left:-15px;
}
#wrapper-store .tabArea a {
	display:inline-block;
	border:2px #fff solid;
	border-radius:5px;
	font-size:1.1em;
	color:#fff;
	letter-spacing:3px;
	margin-bottom:5px;
	padding:6px 22px;
}
#wrapper-store .mainContentFix {
	margin-top:10px;
}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
#wrapper-store .tabArea {
	border-bottom:0;
	margin-top:25px;
	text-align:center;
	margin-right:-15px;
	margin-left:-15px;
}
#wrapper-store .tabArea a {
	display:inline-block;
	border:2px #fff solid;
	border-radius:5px;
	font-size:1.1em;
	color:#fff;
	letter-spacing:3px;
	margin-bottom:5px;
	padding:6px 22px;
}
#wrapper-store .mainContentFix {
	margin-top:10px;
}	
}

@media screen and (min-width: 640px) and (max-width: 767px) {
#wrapper-store .tabArea {
	border-bottom:0;
	margin-top:25px;
	text-align:center;
	margin-right:-15px;
	margin-left:-15px;
}
#wrapper-store .tabArea a {
	display:inline-block;
	border:2px #fff solid;
	border-radius:5px;
	font-size:1.1em;
	color:#fff;
	letter-spacing:3px;
	margin-bottom:5px;
	padding:6px 22px;
}
#wrapper-store .mainContentFix {
	margin-top:10px;
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
#wrapper-store .tabArea {
	margin-right:50px;
	margin-left:50px;
}	
}


/*獎項資訊 award RWD*/
@media screen and (max-width: 479px) {
#wrapper-award .numArea-1 {
	padding-top:10px;
}
#wrapper-award .awardNum {
	width:50px;
	left:3px;
}
#wrapper-award .randomArea {
	margin-top:10px;
}
.heightFix {
	height:24px;
}
.heightFix-2 {
	height:48px;
}
}
@media screen and (min-width: 480px) and (max-width: 639px) {
.heightFix {
	height:24px;
}
.heightFix-2 {
	height:24px;
}
}
@media screen and (min-width: 640px) and (max-width: 767px) {
.heightFix {
	height:24px;
}
.heightFix-2 {
	height:24px;
}
}
@media screen and (min-width: 768px) and (max-width: 990px) {
}


/* 活動報名 sign RWD*/
@media screen and (max-width: 479px) {
#wrapper-sign .signTable .row {
	width:100%;
	border-radius:5px;
	padding:10px;
}
#wrapper-sign .upload input {
	width:62%;
}
#wrapper-sign .workDes textarea {
	height:200px;
	margin-bottom:5px;
}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
#wrapper-sign .signTable .row {
	width:100%;
	border-radius:5px;
	padding:10px;
}
#wrapper-sign .upload input {
	width:62%;
}
#wrapper-sign .workDes textarea {
	height:200px;
	margin-bottom:5px;
}
}

@media screen and (min-width: 640px) and (max-width: 767px) {
#wrapper-sign .signTable .row {
	width:100%;
	border-radius:5px;
	padding:10px;
}
#wrapper-sign .upload input {
	width:62%;
}
#wrapper-sign .workDes textarea {
	height:200px;
	margin-bottom:5px;
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
}


/* 教學影片 movie RWD */
@media screen and (max-width: 767px) {
#wrapper-movie .movieArea {
	margin-bottom:15px;
}
}


/* 圖片上傳 uploadMobile RWD*/
@media screen and (max-width: 479px) {
#wrapper-uploadMobile .signTable .row {
	width:100%;
	border-radius:5px;
	padding:10px;
}
}

@media screen and (min-width: 480px) and (max-width: 639px) {
#wrapper-uploadMobile .signTable .row {
	width:100%;
	border-radius:5px;
	padding:10px;
}
}

@media screen and (min-width: 640px) and (max-width: 767px) {
#wrapper-uploadMobile .signTable .row {
	width:100%;
	border-radius:5px;
	padding:10px;
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
}


/*頁尾 RWD*/
@media screen and (max-width: 479px) {
.footer .copyright-tw {
	width:100%;
	text-align:center;
}
.footer .copyright-eng {
	width:100%;
	text-align:center;
}
}


/*共用 RWD sample
@media screen and (max-width: 479px) {...}
@media screen and (min-width: 480px) and (max-width: 639px) {...}
@media screen and (min-width: 640px) and (max-width: 767px) {...}
@media screen and (min-width: 768px) and (max-width: 990px) {...}
@media screen and (min-width: 991px) {...}
*/


/*media query sample*/
/*
@media screen and (max-width: 479px) {...}
@media screen and (min-width: 480px) and (max-width: 639px) {...}
@media screen and (min-width: 640px) and (max-width: 767px) {...}
@media screen and (min-width: 768px) and (max-width: 990px) {...}
@media screen and (min-width: 991px) {...}
@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }
*/