/* 20180629 Abbie */
/* common */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: "Microsoft YaHei",Arial,simsun;
}
a {
    text-decoration: none;
    transition: all .1s;
    color: #666;
    pointer-events: auto;
}
em {
	font-style: normal;
}
main h1 {
	padding-bottom: 2px;
}
table {
	width: 100% !important;
	border-collapse: collapse;
	border: 1px solid #e5e5e5;
	text-align: center;
	color: #555;
    margin-bottom: 15px;
}
table th {
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	padding: 8px 0;
    color: #666;
    font-size: 13px;
    font-weight: 400;
}
table tr td {
	border: 1px solid #eee;
	padding: 8px 0;
	font-size: 13px;
}
/* 第一種表格 */
table.posfix tr td:first-child {
    position: relative;
}
table.posfix tr td:first-child svg {
    width: 959px;
    height: 41px;
    position: absolute;
    top: 20.5px;
    left: 0;
}
table.posfix tr td:first-child svg line {
    stroke: orange;
    stroke-width: 1;
}
/* 第一種表格 */
table.tablefix1 tr:nth-child(2) th {
    width: 48px !important;
}
/* 第二種表格 */
table.tablefix2 tr:nth-child(2) th {
    width: 36px !important;
}
/* 第三種表格 */
table.tablefix3 tr:nth-child(2) th {
    width: 38px !important;
}
/* 月暦 */
#wrapperCalendar {
    display: none;
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 999;   
}
#calendar {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}
#calendar table {
    border: none;
    font-size: 12px !important;
    box-shadow: 0px 1px 6px #969696;
}
#calendar table tr:first-child th {
    background-color: #e8e8e7;
    border: none;
    color: #000;
    padding: 0;
    padding-top: 6px;
}
#calendar table tr:nth-child(2) th {
    background-color: #fafafa;
    border: none;
    padding: 4px;
}
#calendar table tr:first-child th:first-child, #calendar table tr:first-child th:last-child {
    color: #4a4442;
    cursor: pointer;
}
#calendar table tr:first-child th:first-child:hover, #calendar table tr:first-child th:last-child:hover {
    color: #e83f3f;
}
#calendar table tr:first-child th:nth-child(2) span {
    position: relative;
    top: -3px;
}
#calendar table tr td {
    background-color: white;
    width: 28px;
    font-size: 14px;
    border: none;
}
#calendar table tr td:hover {
    background: #e83f3f;
    color: #fff;
}
#calendar button {
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 7px;
    /* padding: 2px 5px; */
    position: relative;
    width: 36px;
    font-size: 10px;
    height: 20px;
}
#calendar input {
    text-align: center;
    margin: 6px 6px;
    width: 26px;
    height: 24px;
    pointer-events: visible;
}
#calendar input::placeholder {
    color: #ddd;
    font-weight: 200;
}
#calendar tr.calendarLastTr span {
    color: #000 !important;
    pointer-events: none;
}
#calendarYearText {
    width: 49px !important;
    height: 24px;
    position: relative;
    top: -3px;
}
#calendarMonthText {
    width: 24px !important;
    position: relative;
    top: -3px;
    height: 24px;
}
.calendarLastTd {
    border-top: 1px solid #eee !important;
    padding: 2px 0;
}
.calendarLastTd:hover {
    background-color: #fff !important;
    pointer-events: none;
}
.txt-red {
	color: #e73f3f;
}
.circle-blue span {
	display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    background: #0077e0;
    color: #fff;
    position: relative;
    z-index: 3;
	color: white;
	background: 
}
.q3-dice01 {
	display: inline-block;
	width: 32px;
    height: 32px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-size: 400px;
    margin: 0 3px;

}
.q3-dice02 {
	display: inline-block;
	width: 32px;
    height: 32px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-position: -41px;
    background-size: 400px;
    margin: 0 3px;
}
.q3-dice03 {
	display: inline-block;
	width: 32px;
    height: 32px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-position: -82px;
    background-size: 400px;
    margin: 0 3px;
}
.q3-dice04 {
	display: inline-block;
	width: 32px;
    height: 32px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-position: -124px;
    background-size: 400px;
    margin: 0 3px;
}
.q3-dice05 {
	display: inline-block;
	width: 32px;
    height: 32px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-position: -165px;
    background-size: 400px;
    margin: 0 3px;
}
.q3-dice06 {
	display: inline-block;
	width: 32px;
    height: 32px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-position: -206px;
    background-size: 400px;
    margin: 0 3px;
}
.q3-dice01-lg {
	display: inline-block;
	width: 38px;
    height: 38px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-size: 472px;
    margin: 0 3px;

}
.q3-dice02-lg {
	display: inline-block;
	width: 38px;
    height: 38px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-position: -48px;
    background-size: 472px;
    margin: 0 3px;
}
.q3-dice03-lg {
	display: inline-block;
	width: 38px;
    height: 38px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-position: -97px;
    background-size: 472px;
    margin: 0 3px;
}
.q3-dice04-lg {
	display: inline-block;
	width: 38px;
    height: 38px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-position: -146px;
    background-size: 472px;
    margin: 0 3px;
}
.q3-dice05-lg {
	display: inline-block;
	width: 38px;
    height: 38px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-position: -195px;
    background-size: 472px;
    margin: 0 3px;
}
.q3-dice06-lg {
	display: inline-block;
	width: 38px;
    height: 38px;
    background: url(../img/bg_dice.png);
    background-repeat: no-repeat;
    background-position: -243px;
    background-size: 472px;
    margin: 0 3px;
}
.ball {
	display: inline-block;
	width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
	color: #fff;
    font-weight: 700;
    background: #3771de;
    border-radius: 50%;
    text-align: center;
   /* margin: 0 5px;*/
}
.blue {
    background: #3e94f1 !important;
    color: #fff;
}
.orange {
    background: #ff9c00 !important;
    color: #fff;
}
.green {
    background: #10ab53 !important;
    color: #fff;
}
.red {
    background: red !important;
    color: #fff;
}
body {
	font-size: 14px;
    background: #fafafa;
	
}
.wrapper {
	width: auto;
	height: auto;
}
.lottery-nav {
    height: 59px;
    line-height: 59px;
    border-bottom: 1px solid #e5e5e5;
    background: #fff;
    font-size: 14px;
}
.lottery-nav a {
	display: inline-block;
	float: left;
	padding: 0 3px;
	margin-right: 11px;
	color: #333;
	text-decoration: none;
	transition: color ease-out .1s;
	-moz-transition: color ease-out .1s;
	-webkit-transition: color ease-out .1s;
	-o-transition: color ease-out .1s;
    pointer-events: auto;
}
.lottery-nav a:hover {
    color: #e73f3f;
    border-bottom: 2px solid #e73f3f;
    height: 58px;
    pointer-events: auto;
}
.lottery-nav a.active {
    color: #e73f3f;
    border-bottom: 2px solid #e73f3f;
    height: 58px;
    pointer-events: none;
}
.lottery-nav-wrapper {
	width: 1000px;
    margin: 0 auto;
}
.main-wrapper {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}
.top-ara {
    padding: 5px 0 20px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.top-ara .logo-area {
    width: 125px;
    height: 100px;
    float: left;
}
.top-ara .logo-area img {
/*    position: relative;
    left: -23px;
    top: 8px;
    width: 155px;*/
}
.text-area {
	width: 476px;
    margin-left: 10px;
    float: left;
}
.text-area .txt-left {
	color: #333;
	display: inline-block;
}
.text-area .txt-left span {
	font-weight: 700;
    color: #e73f3f;
    display: inline-block;
    padding: 0 5px;
}
.text-area .txt-right {
	float: right;
}
.top-ara .number-area {
    border: 1px solid #e5e5e5;
    padding: 13px 0 13px 13px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 4px;
/*    text-align: center;*/
}
.top-ara .number-area .bigball {
    width: 38px;
    height: 38px;
    float: left;
    margin-right: 5px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    line-height: 38px;
    border-radius: 50%;
    background: #3771de;
}
.top-ara .time-area {
	display: block;
	float: right;
}

.middle-area {
    padding: 20px 0;
    overflow: hidden;
}
.bottom-area {
    padding: 20px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 10px #ddd;
 }
.time-area p {
	float: left;
    text-align: right;
    padding-right: 20px;
    line-height: 28px;
    padding-top: 20px;
    font-size: 16px;
}
.time-area .time-right {
	float: right;
	padding: 21px 14px 20px 20px;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 3px;
    line-height: 50px;
}
.time-area .time-right span {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: #e73f3f;
    border-radius: 3px;
    font-weight: 900;
    margin: 0 7px;
    border-radius: 50%;
}
.time-area p span {
    font-weight: 700;
    color: #e73f3f;
    display: inline-block;
    padding: 0 5px;
}
.middle-area {
    padding: 20px 0;
}
.middle-area a {
    display: inline-block;
    float: left;
	margin-right: 10px;
    height: 33px;
    line-height: 33px;
    padding: 0 16px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    background: #fff;
}
.middle-area a:hover,
.middle-area a.historybtn.active,
.middle-area a.chartbtn.active {
    background: #fff7f7;
    border-color: #ffabab;
    color: #e73f3f!important;
}
.middle-area .search-area {
	position: relative;
}
.middle-area .btn-area {
	position: absolute;
    right: 197px;
    top: 8px;
}
.middle-area .btn-area button {
    display: inline-block;
    height: 30px;
    line-height: 33px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    background: #fff;
    font-size: 12px;
    line-height: 1;
}
.middle-area .btn-area button:hover {
    background: #fff7f7;
    border-color: #ffabab;
    color: #e73f3f!important;
}
.middle-area .calender {
    border: 1px solid #ddd;
    position: absolute;
    right: 0;
    top: 5px;
}
.middle-area .calender span {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    background: #f1f1f1;
}
.middle-area .calender input[type="text"] {
    line-height: 30px;
    padding: 0 8px;
    width: 120px;
    border-left: 1px solid #ddd;
    background: url(../img/icon-calender.jpg) 89px center no-repeat;
}
.bottom-area {
	min-height: 506px;
}

/* 提示訊息 */
.tooltip {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #1b66ff;
    border-radius: 50%;
    color: #1b66ff;
    font-size: 11px;
    margin-left: 2px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    background-color: rgba(43,43,43,0.85);
    border-radius: 6px;
    font-size: 13px;
    color: #fff;
    font-weight:200;
    transition: opacity 0s;
    padding: 5px;
    position: absolute;
    top: -70px;
    left: -120px;
    z-index: 1;
    text-align: left;
}
.tooltip .tooltiptext::after {
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: rgba(43,43,43,0.85) transparent transparent transparent;
    margin-left: -5px;
    position: absolute;
    top: 100%;
    left: 50%;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.bottom-area .sec-nav {
    height: 43px;
    line-height: 43px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.bottom-area .sec-nav .ball-number {
    float: right;
}
.bottom-area .sec-nav .ball-number a {
    display: inline-block;
    float: left;
    margin-left: 16px;
}
.bottom-area .sec-nav .ball-number a:hover,
.bottom-area .sec-nav .ball-number a.active {
    color: #e73f3f;
}
.bottom-area .sec-nav .sec-nav-tab {
    float: left;
    display: block;
}
.bottom-area .sec-nav .sec-nav-tab a {
    display: inline-block;
    float: left;
    padding: 0 15px;
    height: 42px;
    margin-right: 5px;
}
.bottom-area .sec-nav .sec-nav-tab a:hover,
.bottom-area .sec-nav .sec-nav-tab a.active {
    color: #333;
    border-bottom: 2px solid #e73f3f;
}
.threed-div,
.three-five-div,
.pk10-div,
.elepickfive-div,
.q3-div {
    display: none;
}

#SSCHistoryTable,
#threeDHistoryTable,
#Q3HistoryTable,
#PK10HistoryTable,
.three-dhistorytable,
.ele-5historytable,
.three-fivehistorytable {
	display: table;
}
#SSCHistoryChartDiv,
#Q3HistoryChartDiv,
#PK10HistoryChartDiv,
#threeDHistoryChartDiv,
.three-dhistorychart,
.ele-5historychart,
.three-fivehistorychart  {
	display: none;
}
#pk10tab2 {
    display: none;
}
#ChangeArea {
    display: none;
}
.footer {
	width: 100%;
	margin-top: 30px;
	text-align: center;
	background: #666;
	color: #ddd;
	font-size: 11px;
	font-weight: 200;
}
.footer p {
	padding: 15px 0;
    font-size: 13px;
}