/* CSS Document 201310 by Ason */
body {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f7fe', endColorstr='#ffffff',GradientType=0 )no-repeat; /* IE6-9 */
}
.header-bg {
	width:100%;
	height:28px;
	background-color:#2e2e2e;
}
div#header {
	width:100%;
	height:28px;
	background-image:url(../images/header-demo.gif);
	background-repeat:no-repeat;
	background-position:center top;
}
div#mainContent {
	width:990px;
	margin:0px auto;
}
.right-side {
	width:745px;
	margin-top:10px;
	margin-bottom:20px;
	float:right;
}
.right-1-top {
	width:745px;
	height:5px;
	background-image:url(../images/right-1-top.png);
	background-repeat:no-repeat;
	float:left;
}
.right-1-body {
	width:743px;
	background-color:#fff;
	border-right:1px #006699 solid;
	border-left:1px #006699 solid;
	float:left;
}
.logo-area-1 {
	width:743px;
	height:140px;
	position:relative;
}
.logo-1 {
	width:213px;
	height:61px;
	background-image:url(../images/logo-1.png);
	background-repeat:no-repeat;
	position:absolute;
	top:40px;
	left:20px;
}
.logo-2 {
	width:278px;
	height:32px;
	font-size:15px;
	color:#006699;
	position:absolute;
	top:62px;
	left:254px;
}
.dash-line-1 {
	width:743px;
	border-bottom:1px #000 dashed;
	clear:both;
}
.data-area-1 {
	width:700px;
	margin:30px 20px;
	float:left;
}
.data-title-1 {
	width:700px;
	height:14px;
	font-size:15px;
	color:#000;
	font-weight:bold;
	letter-spacing:2px;
	float:left;
}
.com-title-1 {
	width:700px;
	font-size:13px;
	color:#006699;
	font-weight:bold;
	margin-top:20px;
	float:left;
}
.com-txt-1 {
	width:700px;
	font-size:13px;
	color:#666666;
	line-height:20px;
}
.data-txt-1 {
	width:700px;
	font-size:13px;
	color:#006699;
	font-weight:bold;
	line-height:20px;
	margin-top:20px;
	float:left;
}
.data-txt-2 {
	width:700px;
	font-size:13px;
	color:#666666;
	margin-top:24px;
	float:left;	
}
.data-txt-3 {
	width:700px;
	font-size:13px;
	color:#c00;
	font-weight:bold;
	margin-top:24px;
	float:left;
}
.data-txt-4 {
	width:700px;
	font-size:13px;
	color:#006699;
	font-weight:bold;
	margin-top:2px;
	float:left;
}
.data-txt-5 {
	width:700px;
	font-size:13px;
	color:#333;
	margin-top:2px;
	float:left;	
}
.right-1-bottom {
	width:745px;
	height:5px;
	background-image:url(../images/right-1-bottom.png);
	background-repeat:no-repeat;
	float:left;	
}
.left-side {
	width:235px;
	margin-top:10px;
	float:left;
}
.left-1 {
	width:235px;
	margin-bottom:10px;
}
.left-1-top {
	width:235px;
	height:5px;
	background-image:url(../images/left-1-top.png);
	background-repeat:no-repeat;	
}
.left-1-body {
	width:233px;
	background-color:#fff;
	border-right:1px #006699 solid;
	border-left:1px #006699 solid;
}
.left-txt-area-1 {
	width:210px;
	padding:5px 0px 10px 10px;
}
.left-txt-area-1 ul li {
	/* list-style-image:url(../images/dot.gif);
	list-style-position:inside; */
	letter-spacing:2px;
	margin-top:10px;
}
.left-txt-area-1 ul li img {
	width:5px;
	height:5px;
	margin-right:7px;
	margin-bottom:2px;
}
.margin-1 {
	margin-top:0px;
}
.left-txt-area-1 a {
	font-size:15px;
	color:#006699;
	text-decoration:none;
}
.left-txt-area-1 a:hover {
	text-decoration:underline;
}
.left-txt-area-2 {
	width:220px;
	padding:10px 0px 3px 10px;
}
.left-txt-1 {
	font-size:13px;
	color:#069;
	font-weight:bold;
}
.left-txt-area-2 ul li {
	font-size:13px;
	color:#666;
	margin-bottom:12px;
}
.left-txt-area-2 ul li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#069;
	text-decoration:none;
}
.left-txt-area-2 ul li a:hover {
	text-decoration:underline;
}
.left-1-bottom {
	width:235px;
	height:5px;
	background-image:url(../images/left-1-bottom.png);
	background-repeat:no-repeat;	
}
.let-title-1 {
	width:233px;
	height:30px;
	background-color:#deefff;
	font-size:15px;
	color:#006699;
	font-weight:bold;
	text-align:center;
	line-height:32px;
}
.title-area-1 {
	width:990px;
	height:50px;
	background-image:url(../images/title-area-1.png);
	background-repeat:no-repeat;
}
.footer-bg {
	width:100%;
	height:88px;
    background-image:url(../images/footer-bg-demo.gif);
	clear:both;
}
div#footer {
	width:100%;
	height:88px;
	background-image:url(../images/footer-demo.gif);
	background-repeat:no-repeat;
	background-position:center top;
}