@charset "utf-8";
/* floder by Agnes 20130906 */
.folder{ width:100%; text-align:left;}
.folder h3, .folder .des{ background-color:#dceff8;}
.folder h3, .intro h4{ font-size:15px; font-weight:bold;color:#085aad;}
.folder h3{ border-radius:5px 5px 0 0; font-size:15px;  padding:5px 15px; display:inline-block;*display:inline; *zoom:1; margin-bottom:0;}
.folder .des{ padding:15px 15px 25px;overflow:hidden;border-radius:0 5px 5px 5px;}
.des p{ margin:10px 0 15px;}
.show{width:540px; float:left;}
.show img{ max-width:540px; width:540px\9;height:auto;}
.intro{ width:290px; float:right; line-height:1.5em; margin:15px 0;}
.intro h4{ margin-right:10px;}
.intro p{color:#505050; margin:10px 10px 9px 0;}
ul.thumbList{ height:272px; overflow:hidden;}
ul.thumbList li{ display:inline-block; *display:inline; *zoom:1; margin:2px; vertical-align:middle;}
ul.thumbList li a img{ width:auto; height:60px;}
ul.thumbList li a{border:2px solid #dceff8; width:60px; height:60px;display:block; margin:0!important;}
ul.thumbList li a:hover{ border-color:#0593d8;}
.show, ul.thumbList li a{background-color:#fff; text-align:center; overflow:hidden;}
.intro h4, .intro p{max-height:60px; overflow:hidden;}

/*warnings*/
.warnings{text-align:left; font:12px/1.8em Arial, Helvetica, sans-serif;color:#085aad;padding:15px; background-color:#fff; border-radius:5px;}
.warnings li{ list-style:inside square;}
.warnings ol{ margin:0.5em 0 0 1em;}
.warnings ol li{ list-style:inside decimal-leading-zero; color:#505050;}