/*--------form & icon---------*/
input[type="button"] {
   text-align: center;
}
select, input, textarea {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    vertical-align: middle;
}

.dropdown { cursor:pointer; padding-right:22px; text-overflow:ellipsis;
    background: url(../images/ill_dropdown.gif) 98% center no-repeat;
}
.arrowR{ background:url(../images/arrowRight.png) 96% center no-repeat; cursor:pointer; padding-right:20px; text-overflow:ellipsis;}
.arrowD{ background:url(../images/arrowDown.png) 96% center no-repeat; cursor:pointer;}
input[type="text"], select {
    border: 1px solid #999999;
    box-shadow: 0 1px 2px #d6d6d6 inset;
    color: #666666;
    height: 23px;
    line-height: 23px;
    text-indent: 2px;
}
select{ -moz-padding-right:2px;}
input[type="button"], input[type="submit"] {
    cursor: pointer;
    vertical-align: middle;
}


/*button*/
.button {
    cursor: pointer;
    display: inline-block;
    outline: medium none;
    padding: 3px 15px; *padding:3px 6px 0;
    text-align: center;
    text-decoration: none;
}
.navy{background: #9fbed5; /* Old browsers */
background: -moz-linear-gradient(top,  #9fbed5 0%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fbed5), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9fbed5 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9fbed5 0%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9fbed5 0%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9fbed5 0%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fbed5', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
border:1px solid #65b4dd; box-shadow:1px 1px 0 #555; color:#fff;
}
.navy:hover{background: #90b6d2; /* Old browsers */
background: -moz-linear-gradient(top,  #90b6d2 0%, #1c4b90 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90b6d2), color-stop(100%,#1c4b90)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #90b6d2 0%,#1c4b90 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #90b6d2 0%,#1c4b90 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #90b6d2 0%,#1c4b90 100%); /* IE10+ */
background: linear-gradient(to bottom,  #90b6d2 0%,#1c4b90 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90b6d2', endColorstr='#1c4b90',GradientType=0 ); /* IE6-9 */
border:1px solid #65b4dd; box-shadow:1px 1px 0 #555; color:#fff;
}

/*social icon*/
.share{float: right;font-size: 13px;font-weight: normal;margin-right: 28px;}
.share span{display: inline;float: left;}
.share a{background: url(../images/shareIcon.png) no-repeat scroll 0 0 transparent;cursor: pointer;display: block;float: left;height: 16px;
padding: 0 2px;width: 16px;
}
a.fb{background-position: 0 0;}
a.twitter{background-position: -21px 0;}
a.glp{background-position: -42px 0;}
a.plurk{background-position: -63px 0;}
a.weibo{background-position: -84px 0;}
a.email{background-position: -105px 0;}

/*comp icon*/
/*新增li的float及margin屬性 20131018 by Ason*/
.comp_type li{display:inline-block;width:36px; height:36px; background:url(../images/jbs_icon_01.png) no-repeat; *display:block; *zoom:1; float:left; margin-right:5px;}
.comp_type li.icon_honor{ background-position:0 -254px;}/*誠信*/
.comp_type li.icon_gold{ background-position: 0 -289px;}/*金牌*/
.comp_type li.icon_top10h{ background-position: 0 -326px;}/*千大*/
.comp_type li.icon_top5h{ background-position: 0 -361px;}/*五百大*/
.comp_type li.icon_top1h{ background-position: 0 -397px;}/*一百大*/
.comp_type li.icon_LC{ background-position: 0 -434px;}/*上市*/
.comp_type li.icon_FC{ background-position: 0 -472px;}/*外商*/

/*react icon*/
.react{ padding:15px;}
.react a{padding-top:28px; background:url(../images/icon_react.png) center 0 no-repeat; color:#505050; margin:0 15px; display:inline-block;}
.react a:hover{background:url(../images/icon_react_hover.png) center 0 no-repeat; color:#249499;}
.react a.icon_save{background-position:center 0;}/*收藏工作*/
.react a.icon_edit{background-position:center -55px;}/*填寫履歷*/
.react a.icon_fb{background-position:center -110px;}/*FB分享*/
.react a.icon_mail{background-position:center -165px;}/*轉寄好友*/
.react a.icon_print{background-position:center -220px;}/*友善列印*/
.react a.icon_report{background-position:center -275px;}/*我要舉發*/
.react a.icon_moreJob{background-position:center -330px;}/*本公司其他職缺*/
