/* 20200429 Ason */
/* common */
body {
    background-image: url(../image/bg_2.jpg);
    background-size: cover;
    font-family: 微軟正黑體;
    font-size: 1.1rem;
}
h3, h4 {
    padding: 10px;
    margin-bottom: 30px !important;
}
h3 {
    width: 20%;
    /* border: 1px #6c757d solid; */
    box-shadow: 0 0 1px #1d2124;
    margin-top: 40px;
}
h3.first-title {
    margin-top: 0;
}
h4 {
    width: 12%;
    background-color: rgba(0,0,0,0.08);
    font-size: 1.2rem;
}
h5 {
    font-weight: bold;
}
a:link, a:visited {
    color: #000;
}
header {
    /* background-image: url(../image/header.svg);
    background-size: cover;
    background-position: center; */
    margin-top: 0;
    margin-bottom: 0;
}
.jumbotron {
    background-color: transparent;
    padding: 0;
}
.fa-angle-double-down {
    color: rgba(0,0,0,0.2);
    margin-top: 15px;
    margin-bottom: 0px;
}
.atm li {
    margin-right: 20px;
}
.fa-line {
    width: 100px;
    height: 100px;
}
.email {
    margin-top: 30px;
}
.query-form {
    padding-left: 34px;
}
.copyright {
    background-color: #222;
    font-size: 14px;
    color: #fff;
    margin-top: 50px;
    padding: 12px 0;
}
.copyright i {
    font-size: 12px;
    padding: 0 5px;
}

/* qrcode */
.qrcode-line {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
}

/* note */
.note {
    font-size: 1rem;
    list-style: none;
}
.note li {
    margin-bottom: 15px;
}
.note li::before {
    content: "\2219";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    font-size: 12px;
    color: ##6c757d; /* Change the color */
    /* font-weight: bold;  */
    /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; 
    /* Also needed for space (tweak if needed) */
    margin-left: -1em; 
    /* Also needed for space (tweak if needed) */
}

/* rwd */
@media only screen and (max-width: 991px) {
    .jumbotron {
    }
    h3, h4 {
        width: auto;
    }
    .atm li {
        margin-right: 10px;
    }
}