/* 通用設定 */
@charset "utf-8";
* {
	padding:0;
	margin:0;
}
body {
	background-color:#E0E0E0;	
}
ul {
	padding-left:25px;
}
li {
	font-size:13px;
	color:#666;
}
/* 全站寛度950px */
div#wrapper {
	width:950px;
	margin:0 auto;
	text-align:left;
}


/* 頁首 */
div#header {
	width:100%;
	height:148px;
	background-image: url(../images/index_01.gif);
	background-repeat:no-repeat;
	margin-top:15px;
	position:relative;
}
div#logo-1 {
	width:153px;
	height:54px;
	position:absolute;
	top:19px;
	left:18px;
}


/* 主內容區 */
div#mainContainer {
	width:100%;
	background-image:url(../images/bg-maincontainer.gif);
	background-repeat:no-repeat;
	background-position:top left;
	background-color:#cccccc;
	float:left;
}


/* 首頁內容區 */
div#main-index {
	width:838px;
	margin:0 auto;
}
.main-index-top {
	width:100%;
	height:41px;
}
.main-index-body {
	width:100%;
	height:344px;
	background-image:url(../images/bg-home-btn_02.png);
	background-repeat:repeat-y;
}
.main-index-btn {
	width:738px;
	height:344x;
	margin:0 auto;
	padding-top:60px;
}
.line-1 {
	width:590px;
	height:100px;
	margin:0 auto;
}
.index-btn-01 a {
	width:170px;
	height:100px;
	background-image:url(../images/index-btn-01-off.gif);
	background-repeat:no-repeat;
	float:left;
	margin-right:40px;
}
.index-btn-01 a:hover {
	background-image:url(../images/index-btn-01-on.gif);
}
.index-btn-02 a {
	width:170px;
	height:100px;
	background-image:url(../images/index-btn-02-off.gif);
	background-repeat:no-repeat;
	float:left;
	margin-right:40px;
}
.index-btn-02 a:hover {
	background-image:url(../images/index-btn-02-on.gif);
}
.index-btn-03 a {
	width:170px;
	height:100px;
	background-image:url(../images/index-btn-03-off.gif);
	background-repeat:no-repeat;
	float:left;
}
.index-btn-03 a:hover {
	background-image:url(../images/index-btn-03-on.gif);
}
.line-2 {
	width:590px;
	height:100px;
	margin:30px auto 0;
}
.index-btn-04 a {
	width:170px;
	height:100px;
	background-image:url(../images/index-btn-04-off.gif);
	background-repeat:no-repeat;
	float:left;
	margin-right:40px;
}
.index-btn-04 a:hover {
	background-image:url(../images/index-btn-04-on.gif);
}
.index-btn-05 a {
	width:170px;
	height:100px;
	background-image:url(../images/index-btn-05-off.gif);
	background-repeat:no-repeat;
	float:left;
	margin-right:40px;
}
.index-btn-05 a:hover {
	background-image:url(../images/index-btn-05-on.gif);
}
.index-btn-06 a {
	width:170px;
	height:100px;
	background-image:url(../images/index-btn-06-off.gif);
	background-repeat:no-repeat;
	float:left;
}
.index-btn-06 a:hover {
	background-image:url(../images/index-btn-06-on.gif);
}
.main-index-bottom {
	width:100%;
	height:69px;
}


/* 次頁內容區 */
div#main {
	width:732px;
	padding-right:12px;
	float:right;
}
.main-top {
	width:100%;
	height:40px;
}
.main-body {
	width:100%;
	background-image:url(../images/main_02.png);
	background-repeat:repeat-y;
}
.main-body>div {
	width:630px;
	min-height:450px;
	margin:0 auto;
}
.main-member>div {
	width:85%;
	
	}
.img-title-01 {
	width:100%;
	height:36px;
}
.img-title-02 {
	padding:20px;
}

.img-space {
	margin:20px;
	
}
.word-space{
	margin:10px;
	
}

.title-1 {
	color: #98b23b;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 17px;
	font-weight: bold;
    text-decoration: none;
	padding-bottom:10px;
}
.title-2 {
	color: #696969;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 17px;
	font-weight: bold;
    text-decoration: none;
	padding-bottom:10px;
}

.main-bottom {
	width:100%;
	height:40px;
}
.from-list {
	margin: 20px;
}
.txt-01 {
	color: #696969;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    text-decoration: none;
	padding-bottom:20px;
}
.txt-01-n {
	color: #696969;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    text-decoration: none;
	padding-bottom:10px;
}
.txt-01-b {
	color: #696969;
    font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight:bold;
    font-size: 15px;
    text-decoration: none;
	padding-bottom:20px;
}
.txt-02 a{
	color: #696969;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    text-decoration:underline;
	margin:20px;
}
.txt-02 a:hover{
    color: #008080;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    text-decoration:underline;
	margin-bottom:20px;
}
.txt-03 a{
	color: #696969;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    text-decoration:underline;
	
}
.txt-03 a:hover{
    color: #008080;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    text-decoration:underline;
	
}

.txt-lau {
	color: #98b23b;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
	padding-bottom:20px;
	}
.line-3 {
	width:500px;
	height:53px;
	align:middle;
	margin:20px auto;
}
.cs-btn-01 a {
	width:170px;
	height:100px;
	background-image:url(../images/join.png);
	background-repeat:no-repeat;
	float:left;
	margin-right:40px;
}

.cs-btn-02 a {
	width:170px;
	height:100px;
	background-image:url(../images/process.png);
	background-repeat:no-repeat;
	float:left;
	
}
.line-4 {
	width:380px;
	height:100px;
	margin:40px auto 0;
}
.cs-btn-03 a {
	width:170px;
	height:100px;
	background-image:url(../images/payment.png);
	background-repeat:no-repeat;
	float:left;
	margin-right:40px;
}
.cs-btn-04 a {
	width:170px;
	height:100px;
	background-image:url(../images/Q&A.png);
	background-repeat:no-repeat;
	float:left;
	
}
.line-5 {
	width:380px;
	height:50px;
	margin:40px auto 0;
}
.join-btn-01 a {
	width:200px;
	height:50px;
	float:left;
}

/* 次頁左側例 */
div#left {
	width:190px;
	padding-left:12px;
	float:left;
}
.left-top {
	width:100%;
	height:40px;
}
.left-body {
	width:100%;
	background-image:url(../images/left_02.png);
	background-repeat:repeat-y;
}
.left-body table {
	width:130px;
	margin:0 auto;
}
.left-body table td {
	width:115px;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:10px;
	border-bottom:1px #ccc solid;
}
.left-body table td a {
	font-size:15px;
	color:#000;
	text-decoration:none;
}
.left-body table td a:hover {
	color:#ccc;
}
.left-body table .td-top {
	padding-top:0;
}
.left-body table td {
	
}
.left-body ul {
	width:auto;
	height:200px;
	margin: 0px;
}
.left-body ul li {
	height:20px;
}
.left-body ul div {
	width:130px;
	height:11px;
    border-top:1px #99cc99 solid;
	margin-top:10px;
}
.left-body ul .div-end {
	width:130px;
	height:0;
    border-top:1px #99cc99 solid;
	margin-top:10px;
}
.left-body ul li a >div{
	font-size:15px;
	color:#ffffff;
	text-decoration:none;
	font-family: Verdana, Geneva, sans-serif;
}
.left-body ul li a:hover >div {
	color:#666;
}
.left-body div {
	width:100px;
	margin:0 auto;
}
.left-bottom {
	width:100%;
	height:40px;
}


/* 電子運單 */
.form-td-padding-1 {
	padding-right:5px;
}
.form-textfield-margin-1 {
	margin-left:3px;
}
.form-td-height-1 {
	height:30px;
}
.form-td-height-2 {
	height:45px;
}
.form-td-width-1 {
	width:20px;
	text-align:center;
}
.bill-1 {
	font-size:13px;
	color:#333333;
}
.bill-1 input {
	border:1px solid #999;
	height:16px;
	padding:2px;
}
.bill-1 textarea {
	border:1px solid #999;
	padding:2px;
}
.bill-1 select {
	border:1px solid #999;
}


/* 其他內頁 */
.page-margin-1 {
	margin-left:46px;
}
.page-margin-2 {
	margin:0 auto;
}
.page-title-1 {
	font-size:17px;
	color:#CC0000;
	font-weight:bold;
}
.page-title-2 {
	font-size:17px;
	color:#000;
	font-weight:bold;
}
.page-txt-1 {
	font-size:15px;
	color:#333;
}
.page-txt-2 {
	font-size:15px;
	color:#333;
	line-height:22px;
}
.page-note-1 {
	font-size:12px;
	color:#39F;
}
/* 頁尾 */
div#footer {
	width:100%;
	clear:both;
}
div#copyright {
	width:100%;
	font-size:11px;
	color:#333333;
	background-image:url(../images/bg-footer-2.gif);
	background-repeat:repeat-y;
	margin:0 auto;
	padding:3px 0;
	text-align:center;
}
.bg-footer-1 {
	width:100%;
	height:10px;
	background-image:url(../images/bg-footer-1.gif);
	background-repeat:no-repeat;
}    
