.all#app
  .top
    .hello
      h1 Ｈｅｌｌｏ！冒險者！
    .today
      p 今天是{{today}}
      p 一日之計在於晨，祝您有個美好的一天
  .process
    h3 完成進度
    .bar_box
      p {{process}}
      .bar(:style="{width: process}")
  .enterTodos
    input(type="text" class="keyin" placeholder="有什麼計畫?" v-model="newTodo" @keyup.enter="addTodo")
    button(class="send" type="button" @click="addTodo") 新增
  .contain
    .tab
      span#all(:class="{'active':visi=='all'}" @click="visi='all'") 全部({{todos.length}})
      span#ing(:class="{'active':visi=='ing'}" @click="visi='ing'") 進行中({{remain}})
      span#done(:class="{'active':visi=='done'}" @click="visi='done'") 完成({{done}})
    .main
      ul
        li(v-for="(item,index) in filter" )
          input(type="checkbox" :id="item.id" v-model="item.completed")
          label(:for="item.id") {{item.time}}  
            sapn.checkmark
          span( v-if="item.id !== cacheTodo.id" @dblclick="editTodo(item)") {{item.title}}
          input(type="text" v-if="item.id==cacheTodo.id" v-model="cacheTitle" @keyup.esc="cancelEdit" @keyup.enter="doneEdit(item)")
          .close(@click="removeTodo(item)")
  .clear
    span(@click="clearAll") 清除所有任務

          