/* 馬里亞納觀光大使徵選活動 上傳頁 */
* {
	margin:0px;
	padding:0px;
}
ul,li {
	list-style:none;
}
.wrap-upload {
	width:358px;
}
.upload-top {
	width:358px;
	height:10px;
	background-image:url(../images/upload_top.png);
	background-repeat:no-repeat;
}
.upload-body {
	width:358px;

	background-image:url(../images/upload_body.png);
	background-repeat:repeat-y;
	
}
.title-1 {
	width:338px;
	height:35px;
	background-image:url(../images/upload-title.gif);
	background-repeat:no-repeat;
	margin-left:10px;
}
.data-area {
	width:298px;
	margin:0px auto;
	padding:20px;
	position:relative;
}
.modify {
	width:58px;
	height:20px;
	position:absolute;
	top:15px;
	right:20px;
}
.modify img {
	border:0px;
}
.data-area ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	letter-spacing:2px;
	margin-bottom:14px;
}
.data-area input {
	width:296px;
	height:20px;
	border:1px #999 solid;
	margin-top:5px;
}
.upload-btn {
	width:298px;
	margin-top:20px;
	text-align:center;
}
.upload-btn img {
	border:0px;
}
.upload-bottom {
	width:358px;
	height:10px;
	background-image:url(../images/upload_bottom.png);
	background-repeat:no-repeat;
}
	