BODY {	SCROLLBAR-FACE-COLOR: #C3C3C3; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #7D7F65; SCROLLBAR-ARROW-COLOR: #7D7F65; SCROLLBAR-TRACK-COLOR: #C3C3C3; SCROLLBAR-DARKSHADOW-COLOR: #7D7F65
}
.news {  font-size:12px}
.news A:link{
	color:#990000; text-decoration: underline}
.news A:visited{
	color:#660066; text-decoration: underline}
.news A:hover{
	color:#FF9900; text-decoration: none}

.menu {
}
.menu A:link{
text-decoration: none; color: #000099
}
.menu A:visited{
text-decoration: none; color: #990099
}
.menu A:hover{
text-decoration: underline; color: #FF6600
}

.top {
	font-size:12px
}
.top A:link{
	color:#003399
; text-decoration: underline}
.top A:visited{
	color:#660000
; text-decoration: underline
}
.top A:hover{
	color:#FF0000
; text-decoration: none
}

.content-2 {
	font-size:12px
}
.content-2 A:link{
	color:#666666
}
.content-2 A:visited{
	color:#636363
}
.content-2 A:hover{
	color:red
}.big {  font-size: 15px}

.HeadLineA :link{ font-size: 8px; line-height: 12px; color: #666666;}
.HeadLineA :visited{ font-size: 8px; line-height: 12px; color: #666666;}
.HeadLineA :hover{ font-size: 8px; line-height: 12px; color: #666666;}
.HeadLineA :active{ font-size: 8px; line-height: 12px; color: #666666;}
.HeadLineMoveA{ width:500px;}	
.div {
	font-size: 15px;
}
.DailyGoodsIntro {
	color: #666666;
	font-size: 12px;
	line-height: 16px;



}
.DailyGoodsName {
	color: 336699;
	font-size: 15px;

}
.DailyOnsaleTitle {
	font-size: 13px;
	font-weight: bolder;
	color: #990000;
}
.DailyOnsale {
	font-size: 13px;
	font-weight: bolder;
	color: #FF0000;
}
A.lef:hover { color: #333333;line-height: 18px; font-size: 12px; }
A.lef:link  { color: #333333; text-decoration: none; line-height: 18px; font-size: 12px;}
A.lef:active {	COLOR: #333333; TEXT-DECORATION: none; line-height: 18px; font-size: 12px; }
A.lef:visited { COLOR: #333333; line-height: 18px; font-size: 12px; }

td {
	font-size: 12px;
}
a {
	font-size: 15px;
}
.OnsalePrice {
	font-size: 13px;
	font-weight: bolder;
	color: #000000;
}
.title_webName {
	color: #FFFFFF;
	font-size: 1px;
	line-height: 1px;}