* {
	margin:0px;
	padding:0px;
}
body {
	background-image:url(../images/body-bg.png);
	background-repeat:repeat-x;
	background-color:#fff;
}
a img {
	border:0px;
}
.clearfix {
	clear:both;
}
.header-bar-bg {
	width:100%;
	height:28px;
	background-color:#2e2e2e;
}
.header-bar-left {
	width:467px;
	height:28px;
	background-image:url(../images/header-left.gif);
	background-repeat:no-repeat;
	float:left;
}
.header-bar-right {
	width:232px;
	height:28px;
	background-image:url(../images/header-right.gif);
	background-repeat:no-repeat;
	float:right;
}
div#wrap {
	width:990px;
	height:auto;
	background-image:url(../images/wrap-bg.png);
	background-repeat:repeat-y;
	margin:0 auto;
}
div#header {
	width:984px;
	height:71px;
	margin:0 auto;
	position:relative;
}
div#mainContent {
	width:984px;
	height:auto;
	margin:0 auto;
}

/*首頁*/
div#cw {
	width:110px;
	height:20px;
	position:absolute;
	right:10px;
	top:10px;
}
.mv {
	width:100%;
	height:400px;
	position:relative;
}
.mv-title-1 {
	width: 478px;
	height: 28px;
	background: url(../images/mv-title-1.png) no-repeat;
	position: absolute;
	top: 220px;
	right: 57px;
}
.mv-txt-2 {
	width: 489px;
	height: 100px;
	position: absolute;
	top: 270px;
	right: 0;
}
.mv-txt-2 ul li {
	list-style:none;
	font-size:15px;
	color:#006699;
	line-height:24px;
}
.mv-txt-2 ul li:before {
	content:".";
	font-size:18px;
	margin-right:5px;
}
.mv-txt-2 ul li span {
	color:#333;
}
.qrcode-area {
	width:888px;
	height:606px;
	padding:30px 48px 40px 48px;
}
.qrcode-area > div {
	float:left;
}
.qrcode-side {
	width:400px;
	height:606px;
}
.qrcode-title{
	width:380px;
	height:25px;
	background-color:#3399cc;
	font-size:18px;
	color:#FFFFFF;
	font-weight:bold;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:5px;
	padding-bottom:0 \9;
	padding-left:20px;
}
.qrcode-body {
	width:400px;
	height:531px;
	background-color:#e3e9ee;
	padding-top:30px;
}
.app-logo-1 {
	width:100%;
	height:166px;
	text-align:center;
	margin-bottom:23px;
}
.qrcode-txt-1 {
	width:353px;
	height:88px;
	font-size:13px;
	color:#000000;
	line-height:22px;
	margin-bottom:38px;
	padding-right:25px;
	padding-left:22px;
}
.download-area-1 {
	width:100%;
	height:215px;
	position:relative;
}
.logo-google-1 {
	width:100px;
	height:34px;
	position:absolute;
	top:0px;
	left:69px;	
}
.logo-apple-1 {
	width:99px;
	height:34px;
	position:absolute;
	top:0px;
	right:68px;	
}
.qrcode-google-1 {
	width:70px;
	height:70px;
	position:absolute;
	top:47px;
	left:84px;
}
.qrcode-apple-1 {
	width:70px;
	height:70px;
	position:absolute;
	top:47px;
	right:83px;
}
.btn-download-1 {
	width:91px;
	height:34px;
	position: absolute;
	top:131px;
	left:74px;
}
.btn-download-2 {
	width:91px;
	height:34px;
	position: absolute;
	top:131px;
	right:72px;
}
.more-1 {
	width:83px;
	height:22px;
	background-image:url(../images/icon-more-1.gif);
	background-repeat:no-repeat;
	background-position:top right;
	position:absolute;
	right:0px;
	bottom:3px;
}
.more-1 a {
	font-size:13px;
	color:#0183c4;
	text-decoration:none;
	line-height:25px;
}
.more-1 a:hover {
	text-decoration:underline;
}
.vline-1 {
	width:44px;
	height:606px;
	border-right:1px #CCC solid;
	margin-right:43px;
}

/*app介紹*/
.mv-app {
	width:100%;
	height:384px;
	background-image: url(../images/mv-app.png);
	background-repeat:no-repeat;
	position:relative;
}
.mv-txt-1 {
	width: 240px;
	height: 89px;
	font-size: 15px;
	color: #333;
	line-height: 24px;
	position: absolute;
	top: 241px;
	left: 322px;
}	
.logo-google-2 {
	width: 100px;
	height: 34px;
	position: absolute;
	top: 179px;
	left: 78px;
}
.logo-apple-2 {
	width: 99px;
	height: 34px;
	position: absolute;
	top: 179px;
	left: 199px;
}
.qrcode-google-2 {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 226px;
	left: 93px;
}
.qrcode-apple-2 {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 226px;
	left: 213px;
}
.btn-download-3 {
	width: 91px;
	height: 34px;
	position: absolute;
	top: 310px;
	left: 83px;
}
.btn-download-4 {
	width: 91px;
	height: 34px;
	position: absolute;
	top: 310px;
	left: 201px;
}
.intro-area-1 {
	width:888px;;
	height:385px;
	border-top:1px #e3e9ee solid;
	padding:35px 48px 40px 48px;
}
.intro-title-1 {
	width:420px;
	height:35px;
	background-color:#3399cc;
	font-family: "微軟正黑體";
	font-size:18px;
	color:#fff;
	line-height:40px;
	letter-spacing:2px;
	margin-bottom:10px;
	padding-left:20px;
	padding-bottom:3px;
	padding-bottom:1px \9;
}
.intro-body-1 {
	width:868px;
	height:320px;
	background-color:#e3e9ee;
	padding:0px 0px 20px 20px;
}
.intro-pic-1 {
	width:198px;
	height:298px;
	background-color:#fff;
	border:1px #ccc solid;
	margin-top:20px;
	margin-right:20px;
	float:left;
}
.intro-pic-1 img {
	width:198px;
	height:298px;
}
.intro-txt-1 {
	width:385px;
	height:auto;
	font-size:15px;
	color:#000;
	line-height:30px;
	letter-spacing:1.5px;
	margin-top:14px;
	margin-left:7px;
	float:left;
}
	

/*下載教學*/
.mv-download {
	width:100%;
	height:375px;
	background-image:url(../images/mv-download.png);
	background-repeat:no-repeat;
}
.wrap-way {
	width:auto;
	height:auto;
	padding:60px 10px 80px 10px;
}
.way-area-1 {
	width:auto;
	height:auto;
	clear:both;
}
.way-title-1 {
	width:auto;
	height:34px;
	border:1px #d0d0d0 solid;
	background-image:url(../images/way-title-1.png);
	background-repeat:no-repeat;
	background-position:left top;
	position:relative;
}
.way-title-1 > div {
	width: 300px;
	height: auto;
	font-size: 15px;
	color: #3a3a3a;
	position: absolute;
	top: 9px;
	left: 320px;
}
.way-qr-area {
	width:auto;
	height:auto;
	padding-top:10px;
	padding-bottom:10px;
	clear:both;
}
.qr-left {
	width:469px;
	height:209px;
	background-image: url(../images/qr-left.png);
	background-repeat:no-repeat;
	background-position:bottom right;
	border:1px #e3e9ee solid;
	float:left;
	position:relative;
}
.qr-left .code {
	width:100px;
	height:100px;
	background-image:url(../images/qrcode-android-3.png);
	background-repeat:no-repeat;
	position:absolute;
	top:53px;
	left:126px;
}
.qr-left .logo {
	width:113px;
	height:39px;
	background-image:url(../images/logo-android-2.png);
	background-repeat:no-repeat;
	position:absolute;
	top:59px;
	left:237px;
}
.qr-left .btn {
	width: 100px;
	height: 34px;
	position: absolute;
	top: 112px;
	left: 243px;
}
.qr-left .btn img {
	width:100px;
	height:34px;
	border:0px;
}
.qr-right {
	width:469px;
	height:209px;
	background-image:url(../images/qr-right.png);
	background-repeat:no-repeat;
	background-position:bottom right;
	border:1px #e3e9ee solid;
	float:right;
	position:relative;
}
.qr-right .code {
	width:101px;
	height:101px;
	background-image:url(../images/qrcode-apple-3.png);
	background-repeat:no-repeat;
	position:absolute;
	top:52px;
	left:125px;
}
.qr-right .logo {
	width:113px;
	height:39px;
	background-image:url(../images/logo-apple-2.png);
	background-repeat:no-repeat;
	position:absolute;
	top:59px;
	left:237px;
}
.qr-right .btn {
	width: 100px;
	height: 34px;
	position: absolute;
	top: 112px;
	left: 243px;
}
.qr-right.btn img {
	width:100px;
	height:34px;
	border:0px;
}
.step-area-1 {
	width:100%;
	height:auto;
	float:left;
}
.marginfix-2 {
	margin-bottom:70px;
}
.step-arrow-1 {
	width: 28px;
	height: 58px;
	background-image: url(../images/arrow-1.png);
	position: absolute;
	top: 21px;
	right: -13px;
	z-index:2;
}	
.step-area-1 > div {
	width:228px;
	height:107px;
	float:left;
	position:relative;
}
.marginfix-1 {
	margin-right:15px;
}
.step-title-1 {
	width:auto;
	height:31px;
	background-color:#9edcf1;
	border-top:1px #00467b solid;
	border-right:1px #00467b solid;
	border-bottom:1px #006bbc solid;
	border-left:1px #00467b solid;
	text-align:center;
}
.step-txt-1 {
	width:100%;
	height:74px;
	background-color:#004478;
	font-size: 15px;
	color: #fff;
	line-height: 22px;
	float: left;
	position:relative;
}
.step-txt-1 .pos-1 {
	width: 187px;
	height: 36px;
	position: absolute;
	top: 15px;
	left: 57px;
	z-index: 1;
}
.step-txt-1 .pos-2 {
	width: 209px;
	height: 36px;
	position: absolute;
	top: 15px;
	left: 20px;
	z-index: 1;
}
.step-txt-1 .pos-2 {
	width: 209px;
	height: 36px;
	position: absolute;
	top: 15px;
	left: 20px;
	z-index: 1;
}
.step-txt-1 .pos-3 {
	width: 215px;
	height: 36px;
	text-align:center;
	position: absolute;
	top: 26px;
	left: 0px;
	z-index: 1;
}
.step-txt-1 .pos-4 {
	width: 229px;
	height: 36px;
	text-align: center;
	position: absolute;
	top: 26px;
	left: 0px;
	z-index: 1;
}
.step-txt-1 .pos-5 {
	width: 209px;
	height: 36px;
	position: absolute;
	top: 15px;
	left: 11px;
	z-index: 1;
}
.way-title-2 {
	width:100%;
	height:34px;
	border:1px #d0d0d0 solid;
	background-image:url(../images/way-title-2.png);
	background-repeat:no-repeat;
	float:left;
}
.sub-title-1 {
	width:100%;
	height:36px;
	background-image:url(../images/subtitle-1.gif);
	background-repeat:no-repeat;
	margin-top:40px;
	float:left;
}
.sub-title-2 {
	width:100%;
	height:36px;
	background-image:url(../images/subtitle-2.gif);
	background-repeat:no-repeat;
	margin-top:40px;
	float:left;
}
/*頁尾*/
div#footer {
	clear:both;
	width:100%;
	height:278px;
	background-image:url(../images/footer-sample.gif);
	background-repeat:repeat-x;
	background-position:top center;
}
