body {
	background-color:#e5e5e5;
	font-family:"微軟正黑體";
}
.container-fluid, .container, .row, [class*="col-"] {
	margin:0 !important;
	padding:0 !important;
}
.padfix-2 {
	padding-top:20px !important;
	padding-bottom:20px !important;
}
.padfix-3 {
	padding-bottom:100px;
}
.padfix-right {
	padding-right:0 !important;
}
.padfix-left {
	padding-left:0 !important;
}
.margin-left-1 {
	margin-left:44px;
}
.posfix {
	position:relative !important;
}
.borderfix {
	border:none !important;
}
.border-bottom-1 {
	border-bottom:1px #999 solid;
}
.border-bottom-2 {
	border-bottom:1px #d6d6d6 solid;
}
.bg-gradient-1 {
	background: -webkit-linear-gradient(#ffffff, #f2f2f2);
    background: -o-linear-gradient(#ffffff, #f2f2f2);
    background: -moz-linear-gradient(#ffffff, #f2f2f2);
    background: linear-gradient(#ffffff, #f2f2f2);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}
.container {
	max-width:1000px;
}
.container {
		width:auto !important;
		margin:0 auto !important;
}
.header-bar-bg {
	width:100%;
	height:28px;
	background-color:#2e2e2e;
}
.header-bar-left {
	width:467px;
	height:28px;
	background-image:url(../images/header-left.gif);
	background-repeat:no-repeat;
	float:left;
}
.header-bar-right {
	width:232px;
	height:28px;
	background-image:url(../images/header-right.gif);
	background-repeat:no-repeat;
	float:right;
}
.logoArea {
	width:100%;
	height:77px;
	background-color:#fff;
	position:relative;
}
.logoArea .pic {
	width:184px;
	height:55px;
	position:absolute;
	top:11px;
	left:10px;
}
.logoArea .pic img {
	width:100%;
}
.logoArea .title {
	font-size:30px;
	font-weight:bold;
	color:#828181;
	position:absolute;
	top:22px;
	left:200px;
}

#sec-1, #sec-2, #sec-3 ,#sec-4 {
	position:absolute;
	top:-50px;
}



/*選單手機版 start */
.navXs {
	width:100%;
	height:50px;
	background-color:#222;
}
.navXs .title {
	width:100%;
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-top:17px;
}
#navBtnXs {
	display:inline-block;
	width:30px;
	height:24px;
	cursor:pointer;
	position:absolute;
	top:15px;
	right:15px;
}
.navXs .fa {
	color:#fff !important;
}
/*選單手機版 end */


/*置頂下拉選單手機版 start */
.navFloatXs {
	display:none;
	width:100%;
	height:50px;
	background-color:#222;
	position:fixed;
	top:0;
	z-index:100;
}
.navFloatXs .title {
	width:100%;
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-top:17px;
}
#navFloatBtnXs {
	display:inline-block;
	width:30px;
	height:24px;
	cursor:pointer;
	position:absolute;
	top:15px;
	right:15px;
}
.navFloatXs .fa {
	color:#fff !important;
}
#navListFloatXs {
	display:none;
	width:100%;
	position:fixed;
	top:50px;
}
#navListFloatXs ul {
	list-style:none;
	padding-left:0;
}
#navListFloatXs ul li {
	background-color:#336699;
	border-bottom:1px #242424 solid;
	text-align:center;
	padding-top:10px;
	padding-bottom:8px;
}
#navListFloatXs ul li a {
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
#navListFloatXs ul li a:hover {
	text-decoration:none;
}
/*置頂下拉選單手機版 end*/


#navListXs {
	display:none;
	height:auto;
	width:100%;
	position:fixed;
	top:50px;
	z-index:100;
}
#navListXs ul {
	list-style:none;
	padding-left:0;
}
#navListXs ul li {
	background-color:#336699;
	border-bottom:1px #242424 solid;
	text-align:center;
	padding-top:10px;
	padding-bottom:8px;
}
#navListXs ul li a {
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
#navListXs ul li a:hover {
	text-decoration:none;
}
.mvArea {
	width:100%;
	height:350px;
	position:relative;
}
.mvArea .bg {
	width:100%;
}
.mvArea .bg img {
	width:100%;
}
.mvArea .bgLg {
	width:100%;
}
.mvArea .bgLg img {
	width:100%;
}
.mvArea .bgMaskLg {
	width:100%;
	height:114px;
	background:url(../images/mv_bg_mask_lg.png) repeat-x;
	position:absolute;
	bottom:0;
	left:0;
}
.mvArea .title {
	font-size:55px;
	color:#000;
	position:absolute;
	top:50px;
	left:220px;
}
.mvArea .subTitle {
	font-size:20px;
	font-weight:bold;
	color:#000;
	letter-spacing:-1px;
	line-height:30px;
	text-align:center;
	position:absolute;
	top:154px;
	left:225px;
}
.mvArea .subTitle-xs {
	width:100%;
	font-size:0.8em;
	font-weight:normal;
	color:#000;
	letter-spacing:0px;
	line-height:14px;
	text-align:center;
	position:absolute;
	top:36px;
	left:0;
}
.mvArea .txt {
	border:1px #fff solid;
	font-size:20px;
	color:#fff;
	padding:0px 15px 0px;
	position:absolute;
	bottom:62px;
	left:321px;
}
.mvArea .icon {
	width:100px;
	height:100px;
	position:absolute;
	top:36px;
	right:266px;
}
.mvArea .icon img {
	width:100%;
}
.mvArea .mobile {
	width:208px;
	height:350px;
	position:absolute;
	top:0px;
	right:29px;
}
.mvArea-lg .mobile img {
	width:100%;
}
#nav .title {
	width:100%;
	height:50px;
	background-color:#444;
	font-size:28px;
	font-weight:bold;
	color:#ffcc00;
	text-align:center;
}
#nav .title span {
	display:inline-block;
	margin-top:6px;
}
#nav .list {
	width:auto;
	height:50px;
	background-color:#0088cc;
}
#nav ul {
	list-style:none;
	margin:0;
	padding-left:0;
}
#nav ul li {
	width:25%;
	height:50px;
	border-right:1px #00507a solid;
	text-align:center;
	float:left;
}
#nav ul li a {
	display:block;
	width:100%;
	height:50px;
	font-size:22px;
	font-weight:bold;
	color:#fff;
	padding-top:11px;
}
#nav ul li a:hover {
	background-color:#fff;
	color:#006699;
	text-decoration:none;
}


/*置頂選單 平板+桌機 start */
#navFloatXL {
	display:none;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
#navFloatXL .title {
	width:100%;
	height:50px;
	background-color:#444;
	font-size:28px;
	font-weight:bold;
	color:#ffcc00;
	text-align:center;
	padding-top:3px;
}
#navFloatXL .title span {
	display:inline-block;
	margin-top:4px;
}
#navFloatXL .list {
	width:auto;
	width:auto \9;
	height:50px;
	background-color:#0088cc;
}
#navFloatXL ul {
	list-style:none;
	margin:0;
	padding-left:0;
}
#navFloatXL ul li {
	width:20%;
	height:50px;
	border-right:1px #00507a solid;
	text-align:center;
	float:left;
}
#navFloatXL ul li a {
	display:block;
	width:100%;
	height:50px;
	font-size:22px;
	font-weight:bold;
	color:#fff;
	padding-top:11px;
}
#navFloatXL ul li a:hover {
	background-color:#fff;
	color:#006699;
	text-decoration:none;
}
/*置頂選單 平板+桌機 end*/


.qrcodeArea-top {
	width:100%;
	height:399px;
}
.qrcodeArea-top .title {
	font-size:30px;
	padding-bottom:9px;
	position:absolute;
	top:53px;
	left:44px;
}
.qrcodeArea-top .txt {
	position:absolute;
	top:109px;
	left:44px;
}
.qrcodeArea-top .txt ul {
	list-style:decimal;
	padding-left:20px;
}
.qrcodeArea-top .txt ul li {
	font-size:18px;
	margin-bottom:3px;
}
.qrcodeArea-top .pic-qrcode {
	width:162px;
	height:162px;
	position:absolute;
	top:182px;
	left:67px;
}
.qrcodeArea-top .pic-qrcode img {
	width:100%;
	height:auto;
}
.qrcodeArea-top .pic-qrcode span {
	display:inline-block;
	width:100%;
	font-size:12px;
	text-align:center;
	margin-top:4px;
}
.qrcodeArea-top .icon {
	width:113px;
	height:39px;
	position:absolute;
	top:218px;
	left:249px;
}
.qrcodeArea-top .icon img {
	width:100%;
	height:39px;
}
.qrcodeArea-top .btn {
	width:100px;
	height:34px;
	position:absolute;
	top:271px;
	left:244px;
}
.qrcodeArea-top .btn a {
	display:block;
	width:100px;
	height:34px;
	border-radius:3px;
	font-size:15px;
	color:#fff;
	text-align:center;
	background: -webkit-linear-gradient(#4e5051, #181818); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4e5051, #181818); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4e5051, #181818); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4e5051, #181818); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5051', endColorstr='#181818',GradientType=0 );
	padding-top:7px;
}
.qrcodeArea-top .btn a:hover {
	background: -webkit-linear-gradient(#181818, #4e5051); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#181818, #4e5051); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#181818, #4e5051); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#181818, #4e5051); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#4e5051',GradientType=0 );
	text-decoration:none;
}
.qrcodeArea-top-xs {
	width:100%;
	height:auto;
	clear:both;
}
.qrcodeArea-top-xs .qrcode-app-xs {
	width:100%;
	padding-bottom:23px;
	float:left;
}
.qrcodeArea-top-xs .qrcode-app-xs .title-xs {
	width:100%;
	font-size:1.7em;
	color:#333;
	text-align:center;
	padding-top:11px;
	padding-bottom:7px;
}
.qrcodeArea-top-xs .qrcode-app-xs .icon-xs {
	width:50%;
	text-align:center;
	float:left;
}
.qrcodeArea-top-xs .qrcode-app-xs .icon-xs img {
	width:70%;
	max-width:150px;
	height:auto;
}
.qrcodeArea-top-xs .qrcode-app-xs .btn-xs {
	width:50%;
	text-align:center;
	float:left;
}
.qrcodeArea-top-xs .qrcode-app-xs .btn-xs a {
	display:block;
	width:70%;
	max-width:150px;
	height:38px;
	border-radius:3px;
	font-size:15px;
	color:#fff;
	text-align:center;
	background: -webkit-linear-gradient(#4e5051, #181818); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4e5051, #181818); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4e5051, #181818); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4e5051, #181818); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5051', endColorstr='#181818',GradientType=0 );
	margin:0 auto;
	padding-top:7px;
}
.qrcodeArea-top-xs .qrcode-app-xs .btn-xs a {
	text-decoration:none;
}
.bg-curve {
	width:100%;
	height:486px;
	background:url(../images/bg_curve_xs.png) no-repeat top left;
}
.bg-curve .app-left-1, .bg-curve .app-left-2, .bg-curve .app-right-1, .bg-curve .app-right-2 {
	width:191px;
	height:388px;
	position:absolute;
}
.bg-curve .app-left-1 img, .bg-curve .app-left-2 img, .bg-curve .app-right-1 img, .bg-curve .app-right-2 img {
	width:100%;
	height:auto;
}
.bg-curve .app-left-1 {
	top:50px;
	left:125px;
}
.bg-curve .app-left-2 {
	top:50px;
	left:337px;
}
.bg-curve .app-right-1 {
	top:50px;
	left:518px;
}
.bg-curve .app-right-2 {
	top:50px;
	left:729px;
}
.bg-curve .title-1, .bg-curve .title-2, .bg-curve .title-3, .bg-curve .title-4 {
	font-size:36px;
	color:#333;
	position:absolute;
}
.bg-curve .title-1, .bg-curve .title-3 {
	top:94px;
	left:607px;
}
.bg-curve .title-2 {
	top:153px;
	left:166px;
}
.bg-curve .title-4 {
	top:175px;
	left:166px;
}
.bg-curve .txt-1, .bg-curve .txt-2, .bg-curve .txt-3, .bg-curve .txt-4 {
	font-size:20px;
	color:#333;
	line-height:36px;
	position:absolute;
}
.bg-curve .txt-1, .bg-curve .txt-3 {
	top:162px;
	left:607px;
}
.bg-curve .txt-2 {
	top:221px;
	left:166px;
}
.bg-curve .txt-4 {
	top:242px;
	left:166px;
}
.qrcodeArea-bottom .appArea {
	display:inline-block;
	padding-top:40px;
	padding-bottom:25px;
}
.qrcodeArea-bottom .appArea .title {
	display:inline-block;
	width:auto;
	font-size:40px;
	color:#333;
	padding-top:15px;
	padding-left:10px;
	float:right;
}
.qrcodeArea-bottom .appArea .pic {
	width:85px;
	height:85px;
	float:left;
}
.qrcodeArea-bottom .appArea .pic img {
	width:100%;
	height:auto;
}
.qrcodeArea-bottom .scanArea {
	width:220px;
	margin-top:30px;
}
.qrcodeArea-bottom .scanArea .pic-qrcode {
	width:98px;
	height:98px;
	float:left;
}
.qrcodeArea-bottom .scanArea .pic-qrcode img {
	width:100%;
	height:auto;
}
.qrcodeArea-bottom .scanArea .pic-app {
	width:113px;
	height:39px;
	margin-bottom:13px;
	float:right;
}
.qrcodeArea-bottom .scanArea .pic-app img {
	width:100%;
	height:auto;
}
.qrcodeArea-bottom .scanArea .btn {
	width:100px;
	height:34px;
	background-color:#333;
	font-size:15px;
	color:#fff;
	text-align:center;
	margin-right:6px;
	float:right;
}
.telArea .titleArea {
	width:100%;
	height:135px;
	background-color:#fff;
}
.telArea .titleArea .title {
	font-size:36px;
	color:#ff9900;
	text-align:center;
	padding-top:25px;
}
.telArea .titleArea .txt {
	width:240px;
	border:1px #ccc solid;
	font-size:18px;
	color:#000;
	text-align:center;
	margin:0 auto;
	padding-top:4px;
	padding-bottom:3px;
}
.telArea .numArea {
	width:100%;
	height:135px;
	background-color:#0088cc;
	font-size:26px;
	color:#fff;
}
.telArea .numArea i {
	font-size:18px;
	color:#0088cc;
	position:absolute;
	top:59px;
	left:-14px;
}
.telArea .numArea .dec-arrow i {
	font-size:24px;
	position:static;
}
.dec-arrow {
	width:100%;
	text-align:center;
	position:absolute;
	top:-21px;
	left:0;
}
.telArea .numArea span {
	margin-right:10px;
	color:#ffcc00;
	font-weight:bold;
}
.telArea .numArea .north {
	position:absolute;
	top:34px;
	left:35px;
}
.telArea .numArea .middle {
	position:absolute;
	top:76px;
	left:35px;
}
.telArea .numArea .south {
	position:absolute;
	top:34px;
	left:355px;
}
.telArea .numArea a {
	color:#fff;
}
.telArea .numArea a:hover {
	color:#fff;
	text-decoration:none;
}
.footer {
	width:100%;
	background-color:#333;
	font-size:13px;
	color:#fff;
	letter-spacing:1px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}


/*自訂RWD */

@media screen and ( max-width: 767px ) {
	.mvArea {
		width:100%;
		height:auto;
	}
	.bg-curve {
		height:auto;
		background:url(../images/bg_curve_xs.png) no-repeat center 150px;
	}
	.bg-gradient-1 {
		padding-top:34px;
		padding-bottom:42px;
	}
	.bg-curve .app-left-1, .bg-curve .app-left-2, .bg-curve .app-right-1, .bg-curve .app-right-2 {
		margin:0 auto;
		position:static;
	}
	.bg-curve .title-1, .bg-curve .title-2, .bg-curve .title-3, .bg-curve .title-4 {
		width:100%;
		font-size:30px;
		text-align:center;
		margin-bottom:8px;
		position:static;
	}
	.bg-curve .txt-1, .bg-curve .txt-2, .bg-curve .txt-3, .bg-curve .txt-4 {
		font-size:18px;
		line-height:28px;
		text-align:center;
		margin-bottom:27px;
		position:static;
	}
	.qrcodeArea-bottom .appArea {
		padding-top:0;
		padding-bottom:10px;
	}
	.qrcodeArea-bottom .appArea .title {
		font-size:30px;
		text-align:center;
		padding-top:0;
		padding-bottom:10px;
		padding-left:0;
		float:none;
	}
	.qrcodeArea-bottom .appArea .pic {
		width:120px;
		height:120px;
		margin:0 auto;
		float:none;
	}
	.qrcodeArea-bottom .scanArea {
		margin:0 auto;
		margin-top:30px;
	}
	.telArea .titleArea {
		height:145px;
	}
	.telArea .numArea {
		font-size:21px;
	}
	.telArea .numArea .north, .telArea .numArea .middle, .telArea .numArea .south {
		width:272px;
		margin:0 auto;
		position:static;
	}
	.telArea .numArea .north {
		padding-top:18px;
	}
	.telArea .numArea .dec-arrow {
		display:none \9;
	}
}

@media screen and ( max-width: 360px ) {
	.mvArea .title {
		width:100%;
		font-size:1.3em;
		font-weight:bold;
		text-align:center;
		top:9px;
		left:0;
	}
	.mvArea .txt {
		width:100%;
		border:none;
		font-size:0.75em;
		color:#fff;
		text-align:center;
		bottom:15px;
		left:0;
	}
	.mvArea .txt span {
		border:1px #fff solid;
		padding:0px 5px 0px;
	}
	.mvArea .icon {
		width:55px;
		height:55px;
		position:absolute;
		top:24px;
		right:11px;
	}
}

@media screen and ( min-width: 360px ) and ( max-width: 479px ) {
	.mvArea .title {
		width:100%;
		font-size:1.6em;
		font-weight:bold;
		text-align:center;
		top:9px;
		left:0;
	}
	.mvArea .subTitle-xs {
		width:100%;
		font-size:0.9em;
		font-weight:bold;
		letter-spacing:0px;
		line-height:16px;
		text-align:center;
		position:absolute;
		top:38px;
		left:0;
	}
	.mvArea .txt {
		width:100%;
		border:none;
		font-size:0.9em;
		color:#fff;
		text-align:center;
		bottom:16px;
		left:0;
	}
	.mvArea .txt span {
		border:1px #fff solid;
		padding:0px 5px 0px;
	}
	.mvArea .icon {
		width:65px;
		height:65px;
		position:absolute;
		top:24px;
		right:11px;
	}
	.qrcodeArea-top-xs .qrcode-app-xs .btn-xs a {
		height:43px;
		padding-top:12px;
	}
}

@media screen and ( min-width: 480px ) and ( max-width: 559px ) {
	.mvArea .title {
		width:100%;
		font-size:2em;
		font-weight:bold;
		text-align:center;
		top:9px;
		left:0;
	}
	.mvArea .subTitle-xs {
		width:100%;
		font-size:1.2em;
		font-weight:bold;
		letter-spacing:0px;
		line-height:20px;
		text-align:center;
		position:absolute;
		top:50px;
		left:0;
	}
	.mvArea .txt {
		width:100%;
		border:none;
		font-size:1.2em;
		color:#fff;
		text-align:center;
		bottom:16px;
		left:0;
	}
	.mvArea .txt span {
		border:1px #fff solid;
		padding:0px 5px 0px;
	}
	.mvArea .icon {
		width:100px;
		height:100px;
		position:absolute;
		top:20px;
		right:20px;
	}
	.qrcodeArea-top-xs .qrcode-app-xs .btn-xs a {
		height:51px;
		padding-top:16px;
	}
}

@media screen and ( min-width: 560px ) and ( max-width: 639px ) {
	.mvArea .title {
		width:100%;
		font-size:2.5em;
		font-weight:bold;
		text-align:center;
		top:9px;
		left:0;
	}
	.mvArea .subTitle-xs {
		width:100%;
		font-size:1.3em;
		font-weight:bold;
		letter-spacing:0px;
		line-height:24px;
		text-align:center;
		position:absolute;
		top:60px;
		left:0;
	}
	.mvArea .txt {
		width:100%;
		border:none;
		font-size:1.4em;
		color:#fff;
		text-align:center;
		bottom:25px;
		left:0;
	}
	.mvArea .txt span {
		border:1px #fff solid;
		padding:0px 5px 0px;
	}
	.mvArea .icon {
		width:100px;
		height:100px;
		position:absolute;
		top:20px;
		right:20px;
	}
	.qrcodeArea-top-xs .qrcode-app-xs .btn-xs a {
		height:51px;
		padding-top:16px;
	}
}

@media screen and ( min-width: 640px ) and ( max-width: 767px ) {
	.mvArea .title {
		width:100%;
		font-size:3em;
		font-weight:bold;
		text-align:center;
		top:9px;
		left:0;
	}
	.mvArea .subTitle-xs {
		width:100%;
		font-size:1.6em;
		font-weight:bold;
		letter-spacing:0px;
		line-height:28px;
		text-align:center;
		position:absolute;
		top:72px;
		left:0;
	}
	.mvArea .txt {
		width:100%;
		border:none;
		font-size:1.5em;
		color:#fff;
		text-align:center;
		bottom:30px;
		left:0;
	}
	.mvArea .txt span {
		border:1px #fff solid;
		padding:0px 5px 0px;
	}
	.mvArea .icon {
		width:100px;
		height:100px;
		top:30px;
		right:30px;
	}
	.qrcodeArea-top-xs .qrcode-app-xs .btn-xs a {
		height:51px;
		padding-top:16px;
	}
}

@media screen and ( min-width: 768px ) and ( max-width: 991px ) {
	.container {
		width:auto !important;
	}
	#navFloatXL ul li a {
		font-size:19px;
		padding-top:13px;
	}
	.mvArea {
		height:263px;
	}
	.mvArea .bg img {
		height:263px;
	}
	.mvArea .title {
		font-size:36px;
		left:185px;
	}
	.mvArea .subTitle {
		font-size:15px;
		letter-spacing:0;
		line-height:21px;
		top:115px;
		left:160px;
	}
	.mvArea .txt {
		position:absolute;
		bottom:35px;
		left:193px;
	}
	.mvArea .icon {
		width:70px;
		height:70px;
		right:220px;
	}
	.mvArea .mobile {
		width:auto;
		right:18px;
	}
	.mvArea .mobile img {
		width:auto;
		height:263px !important;
	}
	#nav .list {
	}
	#nav .title {
		font-size:22px;
	}
	#nav .title span {
		margin-top:12px;
	}
	#nav ul li a {
		font-size:18px;
		padding-top:15px;
	}
	.qrcodeArea-top {
		height:399px;
	}
	.qrcodeArea-top .title {
		font-size:28px;
		padding-bottom:9px;
		position:absolute;
		top:53px;
		left:44px;
	}
	.qrcodeArea-top .txt {
		position:absolute;
		top:109px;
		left:44px;
	}
	.qrcodeArea-top .txt ul {
		list-style:decimal;
		padding-left:20px;
	}
	.qrcodeArea-top .txt ul li {
		font-size:16px;
		margin-bottom:3px;
	}
	.qrcodeArea-top .pic-qrcode {
		width:120px;
		height:120px;
		position:absolute;
		top:182px;
		left:67px;
	}
	.qrcodeArea-top .pic-qrcode img {
		width:100%;
		height:auto;
	}
	.qrcodeArea-top .pic-qrcode span {
		display:inline-block;
		width:100%;
		font-size:12px;
		text-align:center;
		margin-top:4px;
	}
	.qrcodeArea-top .icon {
		width:113px;
		height:39px;
		position:absolute;
		top:200px;
		left:200px;
	}
	.qrcodeArea-top .btn {
		width:100px;
		height:34px;
		position:absolute;
		top:250px;
		left:195px;
	}
	.qrcodeArea-top .btn a {
		display:block;
		width:100px;
		height:34px;
		border-radius:3px;
		font-size:15px;
		color:#fff;
		text-align:center;
		background: -webkit-linear-gradient(#4e5051, #181818); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#4e5051, #181818); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#4e5051, #181818); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#4e5051, #181818); /* Standard syntax */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5051', endColorstr='#181818',GradientType=0 );
		padding-top:7px;
	}
	.qrcodeArea-top .btn a:hover {
		background: -webkit-linear-gradient(#181818, #4e5051); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#181818, #4e5051); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#181818, #4e5051); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#181818, #4e5051); /* Standard syntax */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#4e5051',GradientType=0 );
		text-decoration:none;
	}
	.posfix-left-1 {
		left:-40px;
	}
	.bg-curve {
		height:446px;
	}
	.bg-curve .app-left-1, .bg-curve .app-left-2, .bg-curve .app-right-1, .bg-curve .app-right-2 {
		width:170px;
		height:347px;
	}
	.bg-curve .app-left-1 {
		left:40px;
	}
	.bg-curve .app-left-2 {
		left:230px;
	}
	.bg-curve .app-right-1 {
		top:50px;
		left:359px;
	}
	.bg-curve .app-right-2 {
		top:50px;
		left:549px;
	}
	.bg-curve .title-1, .bg-curve .title-2, .bg-curve .title-3, .bg-curve .title-4 {
		font-size:30px;
	}
	.bg-curve .title-1, .bg-curve .title-3 {
		top:85px;
		left:430px;
	}
	.bg-curve .title-2 {
		top:153px;
		left:50px;
	}
	.bg-curve .title-4 {
		top:153px;
		left:50px;
	}
	.bg-curve .txt-1, .bg-curve .txt-2, .bg-curve .txt-3, .bg-curve .txt-4 {
		font-size:18px;
		line-height:30px;
	}
	.bg-curve .txt-1, .bg-curve .txt-3 {
		top:145px;
		left:430px;
	}
	.bg-curve .txt-2 {
		top:213px;
		left:50px;
	}
	.bg-curve .txt-4 {
		top:213px;
		left:50px;
	}
	.qrcodeArea-bottom .appArea .title {
		font-size:24px;
		padding-top:24px;
	}
	.telArea .titleArea .title {
		font-size:30px;
	}
	.telArea .titleArea .txt {
		width:200px;
		font-size:15px;
	}
	.telArea .numArea {
		font-size:20px;
	}
	.telArea .numArea .north {
		top:40px;
		left:20px;
	}
	.telArea .numArea .middle {
		top:80px;
		left:20px;
	}
	.telArea .numArea .south {
		top:40px;
		left:264px;
	}
	.telArea .numArea {
		font-size:21px;
	}
}

@media screen and ( min-width: 992px ) and ( max-width: 1200px ) {
	.mvArea {
		height:340px;
	}
	.mvArea .bg img {
		height:340px;
	}
	.mvArea .title {
		font-size:50px;
		position:absolute;
		top:50px;
		left:225px;
	}
	.mvArea .subTitle {
		top:135px;
		left:212px;
	}
	.mvArea .txt {
		border:1px #fff solid;
		font-size:20px;
		color:#fff;
		padding:0px 15px 0px;
		position:absolute;
		bottom:45px;
		left:321px;
	}
	.mvArea .icon {
		width:90px;
		height:90px;
		top:36px;
		right:275px;
	}
	.mvArea .mobile img {
		width:auto;
		height:340px !important;
	}
	#nav .list {
	}
	.qrcodeArea-top .txt ul li {
		font-size:17px;
	}
}
@media screen and ( min-width: 780px ){
	.navFloatXs {
		display:none !important;
	}
}


/*主網head bar 衝突迴避 */
#innerSearch .subject {
	font-family:"新細明體";
	font-size:16px;
	font-weight:bold;
	text-align:center;
	letter-spacing:1px;
}

.gsc-search-button .gsc-search-button-v2 {
	width:69px;
	height:27px;
	background-image:url(http://www.google.com/uds/css/v2/search_box_icon.png);
	background-repeat:no-repeat;
	background-position:center;
}
.gsc-search-button .gsc-search-button-v2:hover {
	background-image:url(http://www.google.com/uds/css/v2/search_box_icon.png);
}
/*主網head bar 衝突迴避 結束*/