/*通用設定*/
* {
	font-family:"微軟正黑體";
}
body {
    background-color:#13204D !important;
}
img {
	width:100%;
	height:auto;
}
.container {
	max-width:1170px !important;
}
.padFix {
	padding:0 !important;
}
.padFix-2 {
	padding-right:0 !important;
}
.padFix-3 {
	padding-left:0 !important;
}
.padFix-6 {
	padding-right:0 !important;
}
.marginFix {
	margin:0 !important;
}
.marginFix-1 {
	margin-left:-30px !important;
}
.marginFix-2 {
	margin-top:20px;
	margin-bottom:20px;
}
.last {
	margin-right:0 !important;
}
.first {
	margin-left:0 !important;
}
.posFix {
	position:relative;
}
.boxed {
	max-width:1200px;
	margin:0;
	padding:0;
}
#mainBtn {
	color:#5da1cb;
	position:absolute;
	top:2px;
	right:7px;
}
.border-1 {
	border-bottom:4px #e65179 solid;
}


/* headbar 衝突迴避 */
#innerSearch .subject {
	font-family:"新細明體";
	font-size:16px;
	font-weight:bold;
	text-align:center;
	letter-spacing:1px;
}

.gsc-search-button .gsc-search-button-v2 {
	width:69px;
	height:27px;
	background-image:url(http://www.google.com/uds/css/v2/search_box_icon.png);
	background-repeat:no-repeat;
	background-position:center;
}
.gsc-search-button .gsc-search-button-v2:hover {
	background-image:url(http://www.google.com/uds/css/v2/search_box_icon.png);
}
/* headbar 衝突迴避 結束*


/*頁首 header */
.header {
	width:100%;
	height:28px;
	background-color: #2e2e2e;
	color:#fff;
}
.marqueeArea {
	height:63px;
	background-color:#cfd2da;
}
.marqueeArea .dec-mv-1 {
	width:111px;
	height:81px;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.marqueeArea .marquee {
	width:auto;
	height:40px;
	background-color:#363f61;
	border-radius:5px;
	line-height:27px;
	margin-top:11px;
	margin-left:15px;
	padding:8px 19px;
	overflow:hidden;
}
.marqueeArea .marquee .title {
	font-size:17px;
	color:#ffe7c6;
	font-weight:bold;
}
.marqueeArea .marquee .txt {
	font-size:17px;
	color:#fff;
	font-weight:bold;
}
.shareArea {
	font-size:17px;
	margin-top:11px;
}
.shareArea a {
	color:#cfd2da;
	margin-left:6px;
	float:left;
}
.shareArea .facebook, .shareArea .google-plus, .shareArea .twitter {
	display:block;
	width:39px;
	height:39px;
	background-color:#fff;
	border-radius:5px;
	text-align:center;
}
.shareArea .line {
	display:block;
	width:39px;
	height:39px;
	background-color:#fff;
	background-image:url(../images/share_line_off.png);
	background-repeat:no-repeat;
	background-position:center;
	border-radius:5px;
}	
.shareArea .facebook span, .shareArea .google-plus span, .shareArea .twitter span   {
	margin-top:11px;
}
/*.shareArea .line span {
	display:inline-block;
	width:25px;
	height:23px;
	background:url(../images/share_line_off.png) no-repeat;
	vertical-align:middle;
	margin:0 auto;
}*/
.shareArea .facebook:hover {
	background-color:#428bca;
	color:#fff;
}
.shareArea .google-plus:hover {
	background-color:#ff6600;
	color:#fff;
}
.shareArea .line:hover {
	background-color:#37cb61;
}
.shareArea .line:hover span {
	background:url(../images/share_line_on.png) no-repeat;
}
.shareArea .twitter:hover {
	background-color:#24c3cd;
	color:#fff;
}
.mainTitle-xs {
	height:44px;
	background:#121f4c;
	text-align:center;
}
.mainTitle-xs span {
	display:inline-block;
	font-size:18px;
	color:#fff;
	font-weight:bold;
	padding-top:12px;
}
.mvArea {
	width:100%;
	height:auto;
	background-image:url(../images/mv_bg.jpg);
	background-repeat:no-repeat;
	background-position:top center;
}
.mvArea .desk {
	width:100%;
	height:auto;
}
.mvArea .menuArea {
	width:100%;
	height:121px;
	text-align:center;
	position:absolute;
	bottom:-63px;
	left:0;
}
.mvArea .menuArea a {
	display:inline-block;
	width:160px;
	height:96x;
	margin-right:40px;
}
.mvArea .btn-submit, .mvArea .btn-hot, .mvArea .btn-response {
	width:166px;
	height:55px;
	margin-top:54px;
	margin-bottom:49px;
}
.mvArea .linkArea {
	width:100%;
	background-color:#e02657;
	border-top:1px #a6002c solid;
}
.mvArea .linkArea .txt-1 {
	font-size:20px;
	color:#fc9ba8;
	font-weight:bold;
	letter-spacing:1px;
}
.mvArea .linkArea a:hover {
	text-decoration:none !important;
}
.mvArea .linkArea a:hover .txt-1 {
	color:#fff;
	text-decoration:none;
}
.mvArea .icon-submit {
	display:inline-block;
	width:42px;
	height:42px;
	margin:3px 14px 0 6px;
}
.mvArea .icon-hot {
	display:inline-block;
	width:43px;
	height:43px;
	margin:0 15px 0 4px;
}
.mvArea .icon-response {
	display:inline-block;
	width:43px;
	height:43px;
	margin:2px 16px 0 5px;
}
.mvArea .icon-mobile {
	display:inline-block;
	width:33px;
	height:48px;
}
.mvArea .btn-mobile {
	margin-top:57px;
}
.mvArea .mobile-txt {
	text-align:center;
	line-height:21px;
	position:absolute;
	top:4px;
	left:41px;
}
.mvArea .qrcode-ios, .mvArea .qrcode-android {
	margin-top:16px;
}
.mvArea .qrcode-ios .pic, .mvArea .qrcode-android .pic {
	width:111px;
	height:auto;
	background-color:#fff;
	border:3px #a5d9b0 solid;
	border-radius:20px;
	margin-bottom:2px;
	padding:8px;
}
.mvArea .qrcode-ios .pic img {
	width:90px;
	height:90px;
}
.mvArea .txt-2 {
	display:inline-block;
	width:100%;
	font-size:15px;
	color:#a8e8b6;
	font-weight:bold;
	text-align:center;
}


/*手機版主選單*/
#mainMenu {
	width:100%;
	height:auto;
}
#mainMenu ul {
	list-style:none;
	margin:0;
	padding:0;
}
#mainMenu a:hover {
	text-decoration:none;
}
#mainMenu ul li {
	width:100%;
	height:auto;
	background-color:#5da1cb;
	font-size:1.3em;
	color:#fff;
	font-weight:bold;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px #447b9b solid;
}
#mainMenu ul li {
	color:#fff;
}


/*手機版導覽區*/
.mvArea-xs .navArea {
	width:100%;
	background-color:#e02657;
	margin-top:10px;
	margin-bottom:20px;
/*	border-top:1px #a6002c solid;*/
}
.mvArea-xs .navArea img {
	max-width:175px;
	max-height:122px;
}
.linkArea-xs {
	width:100%;
	background-color:#e02657;
	border-top:1px #a6002c solid;
}
.linkArea-xs .txt-1 {
	font-size:1em;
	font-size:16px \9;
	color:#fc9ba8;
	font-weight:bold;
	letter-spacing:1px;
}
.linkArea-xs a:hover {
	text-decoration:none !important;
}
.linkArea-xs a:hover .txt-1 {
	color:#fff;
	text-decoration:none;
}
.linkArea-xs .icon {
	display:inline-block;
	width:1em;
	height:auto;
	margin:3px 3px 0 6px;
}
/*.linkArea-xs .icon-mobile {
	display:inline-block;
	width:33px;
	height:48px;
}
.linkArea-xs .btn-mobile {
	margin-top:25px;
}
.linkArea-xs .mobile-txt {
	text-align:center;
	line-height:21px;
	position:absolute;
	top:4px;
	left:41px;
}
.linkArea-xs .qrcode-ios, .linkArea-xs .qrcode-android {
	margin-top:16px;
}
.linkArea-xs .qrcode-ios .pic, .linkArea-xs .qrcode-android .pic {
	width:auto;
	max-width:90px;
	height:auto;
	background-color:#fff;
	border:3px #a5d9b0 solid;
	border-radius:10px;
	margin:0 auto 2px;
	padding:8px;
}
.linkArea-xs .qrcode-ios .pic img, .linkArea-xs .qrcode-android .pic img {
	width:100%;
	max-width:90px;
	height:auto;
}*/
.linkArea-xs .txt-2 {
	display:inline-block;
	width:100%;
	font-size:15px;
	color:#a8e8b6;
	font-weight:bold;
	text-align:center;
}
.linkArea-xs .btn {
}


/*首頁 index */
#wrapper-index {
}


/* 頁尾 footer ****************************************************************************/
.footer {
	width:100%;
	background-color:#000;
	font-size:1em;
	font-size:16px \9;
	color:#fff;
	text-align:center;
	letter-spacing:1px;
	padding-top:50px;
	padding-bottom:50px;
	clear:both;
}
.footer .copyright-tw {
	width:50%;
	text-align:right;
	float:left;
}
.footer .copyright-eng {
	width:50%;
	text-align:left;
	float:left;
}


/************************************以下為自訂RWD*******************************************************/

/* 通用設定 common */
@media screen and (max-width: 320px) {
}


@media screen and (min-width: 321px) and (max-width: 480px) {
}


@media screen and (min-width: 481px) and (max-width: 767px) {
	.linkArea-xs .txt-1 {
		font-size:1.6em;
		font-size:24px \9;
	}
}


@media screen and (max-width: 767px) {
	.marqueeArea .marquee {
		margin-right:15px;
		margin-left:15px;
	}
	.shareArea .line {
		background-image:none;
	}
	.shareArea .line img {
		width:20px;
		height:20px;
		margin-top:9px;
	}
}


@media screen and (min-width: 768px) and (max-width: 991px) {
	.marqueeArea .marquee {
		margin-left:-10px;
	}
	.mvArea .menuArea a {
		width:120px;
		height:72x;
		margin-right:10px;
	}
	.mvArea .btn-submit, .mvArea .btn-hot, .mvArea .btn-response {
		width:110px;
		height:40px;
		margin-top:57px;
	}
	.mvArea .linkArea .txt-1 {
		font-size:15px;
	}
	.mvArea .icon-submit {
		width:31px;
		height:31px;
		margin-right:5px;
	}
	.mvArea .icon-hot {
		width:31px;
		height:31px;
	    margin-right:5px;
		padding-top:2px;
	}
	.mvArea .icon-response {
		width:31px;
		height:31px;
		margin-right:5px;
	}
	.mvArea .icon-mobile {
	}
	.padFix-4 {
		padding-left:50px !important;
	}
	.padFix-5 {
		padding-left: 0px !important;
	}
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
	.marqueeArea .marquee {
		margin-left:30px;
	}
	.mvArea .menuArea a {
		width:145px;
		height:87px;
		margin-right:20px;
	}
	.marginFix-1 {
		margin-left:0px !important;
	}
}


/*頁尾 RWD*/
@media screen and (max-width: 479px) {
.footer {
	font-size:0.8em;
	font-size:14px \9;
	padding-top:30px;
	padding-bottom:60px;
}	
.footer .copyright-tw {
	width:100%;
	text-align:center;
}
.footer .copyright-eng {
	width:100%;
	text-align:center;
}
}


/*共用 RWD sample
@media screen and (max-width: 479px) {...}
@media screen and (min-width: 480px) and (max-width: 639px) {...}
@media screen and (min-width: 640px) and (max-width: 767px) {...}
@media screen and (min-width: 768px) and (max-width: 990px) {...}
@media screen and (min-width: 991px) {...}
*/


/*media query sample*/
/*
@media screen and (max-width: 479px) {...}
@media screen and (min-width: 480px) and (max-width: 639px) {...}
@media screen and (min-width: 640px) and (max-width: 767px) {...}
@media screen and (min-width: 768px) and (max-width: 990px) {...}
@media screen and (min-width: 991px) {...}
@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }
*/


/*gradient sample*/
/*
    background: -webkit-linear-gradient(red, blue);
    background: -o-linear-gradient(red, blue); 
    background: -moz-linear-gradient(red, blue); 
    background: linear-gradient(red, blue); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#DDEEEE',GradientType=0 );
*/
	