@charset "utf-8";
* {
	padding:0px;
	margin:0px;
}
ul,li {
	list-style:none;
}
/* 頁首 */
.header-bg {
	width:100%;
	height:28px;
	background-color:#2e2e2e;
}
.header-left {
	width:467px;
	height:28px;
	background-image:url(../images/header-left.gif);
	background-repeat:no-repeat;
	float:left;
}
.header-right {
	width:232px;
	height:28px;
	background-image:url(../images/header-right.gif);
	background-repeat:no-repeat;
	float:right;
}
div#wrap {
	width:960px;
	margin:0px auto;
}
/* 主視覺 */
div#mv {
	width:960px;
	height:400px;
	background-image:url(../images/header-bg-1.jpg);
	background-repeat:no-repeat;
	position:relative;
}
/* 上方選單 */
div#nav {
	width:100%;
	height:17px;
	position:absolute;
	top:0px;
	right:1px;
}
div#nav div a {
	width:60px;
	height:17px;
	background-image:url(../images/nav-off-2.png);
	background-repeat:no-repeat;
	font-family: "新細明體";
	font-size:12px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	margin-right:1px;
	line-height:18px;
	display:block;
	float:right;
}
div#nav div a:hover {
	background-image:url(../images/nav-on-2.png);
	background-repeat:no-repeat;
}
/* 買1送1 */
.title-bar-1 {
	width:960px;
	height:50px;
	background-image:url(../images/title-bar-1.png);
	background-repeat:no-repeat;
	float:left;
}
.pro-area-1 {
	width:950px;
	background-color:#ccc;
	padding:5px;
	float:left;
}
.pro-item-bg-1 {
	width:283px;
	height:489px;
	background-color:#fff;
	padding:5px;
}
.pic-1 {
	width:283px;
	height:377px;
}
.pic-1 img {
	width:283px;
	height:377px;
	border:0px;
}
.title-1 {
	width:263px;
	height:30px;
	font-size:13px;
	color:#000;
	font-weight:bold;
	line-height:15px;
	overflow:hidden;
	margin:3px auto 3px;
}
.txt-1 {
	width:263px;
	height:48px;
	font-size:12px;
	color:#666;
	overflow:hidden;
	margin:0px auto;
}
.price-area-1 {
	width:263px;
	height:21px;
	margin:7px auto 0px;
	_margin:20px auto 0px;
}
.num-1 {
	width:80px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:21px;
	color:#ff0000;
	text-align:right;
	margin-right:5px;
	float:right;
}
.btn-1 {
}
.btn-1 a {
	width:77px;
	height:21px;
	background-image:url(../images/btn-1-off.gif);
	background-repeat:no-repeat;
	display:block;
	float:right;
}
.btn-1 a:hover {
	background-image:url(../images/btn-1-on.gif);
	background-repeat:no-repeat;
}
.margin-1 {
	margin-top:5px;
	_margin-top:8px;
}
.pro-item-bg-2 {
	width:657px;
	_width:650px;
	float:right;
}
.pro-item-bg-2-1 {
	width:214px;
	height:247px;
	background-color:#fff;
	margin-left:5px;
	_margin-left:2px;
	float:left;
}
.pro-item-bg-2-2 {
	width:214px;
	height:247px;
	background-color:#fff;
	margin-top:5px;
	margin-left:5px;
	_margin-left:2px;
	float:right;
}
.pic-2 {
	width:204px;
	height:125px;
	margin:5px auto 0px;
}
.pic-2 img {
	border:0px;
}
.title-2 {
	width:194px;
	height:30px;
	font-size:13px;
	color:#000;
	font-weight:bold;
	line-height:15px;
	margin:3px auto 2px;
}
.txt-2 {
	width:194px;
	height:56px;
	font-size:12px;
	color:#666;
	line-height:15px;
	overflow:hidden;
	margin:0px auto;
}
.price-area-2 {
	width:204px;
	height:21px;
	margin:0px auto 0px;
}
.num-2 {
	width:80px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:21px;
	color:#ff0000;
	text-align:right;
	margin-right:5px;
	float:right;
}
.btn-2 a {
	width:77px;
	height:21px;
	background-image:url(../images/btn-1-off.gif);
	background-repeat:no-repeat;
	display:block;
	float:right;
}
.btn-2 a:hover {
	background-image:url(../images/btn-1-on.gif);
	background-repeat:no-repeat;
}
/* 限時限量 */
.title-bar-2 {
	width:960px;
	height:50px;
	background-image:url(../images/title-bar-2.png);
	background-repeat:no-repeat;
	float:left;
}
.pro-area-2 {
	width:950px;
	background-color:#ccc;
	padding:5px;
	float:left;
}
.margin-2 {
	margin-right:6px;
}
.pro-item-bg-3-1 {
	width:233px;
	height:285px;
	background-color:#fff;
	float:left;
}
.pic-3 {
	width:223px;
	height:167px;
	margin:5px auto 0px;
}
.pic-3 img {
	border:0px;
}
.title-3 {
	width:213px;
	height:30px;
	font-size:13px;
	color:#000;
	font-weight:bold;
	line-height:15px;
	overflow:hidden;
	margin:3px auto 2px;
}
.txt-3 {
	width:213px;
	height:46px;
	font-size:12px;
	color:#666;
	line-height:14px;
	overflow:hidden;
	margin:0px auto;
}
.price-area-3{
	width:213px;
	height:21px;
	margin:5px auto 0px;
}
.num-3 {
	width:80px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:21px;
	color:#ff0000;
	text-align:right;
	margin-right:5px;
	float:right;
}
.btn-3 a {
	width:77px;
	height:21px;
	background-image:url(../images/btn-1-off.gif);
	background-repeat:no-repeat;
	display:block;
	float:right;
}
.btn-3 a:hover {
	background-image:url(../images/btn-1-on.gif);
	background-repeat:no-repeat;
}
/* 優惠好康 */
.title-bar-3 {
	width:960px;
	height:50px;
	background-image:url(../images/title-bar-3.png);
	background-repeat:no-repeat;
	float:left;
}
.pro-area-3 {
	width:960px;
	background-color:#ccc;	
	padding-bottom:5px;
	float:left;
}
.good-area-1 {
	width:960px;
	height:228px;
	padding-top:5px;
	float:left;
}
.good-left-1 {
	width:79px;
	height:228px;
	background-image:url(../images/good-title-1.gif);
	background-repeat:no-repeat;
	float:left;
}
.good-left-2 {
	width:79px;
	height:228px;
	background-image:url(../images/good-title-2.gif);
	background-repeat:no-repeat;
	float:left;
}
.good-left-3 {
	width:79px;
	height:228px;
	background-image:url(../images/good-title-3.gif);
	background-repeat:no-repeat;
	float:left;
}
.good-left-4 {
	width:79px;
	height:228px;
	background-image:url(../images/good-title-4.gif);
	background-repeat:no-repeat;
	float:left;
}
.good-right-1 {
	width:876px;
	height:228px;
	float:left;
}
.pro-item-bg-4-1 {
	width:214px;
	height:228px;
	background-color:#fff;
	margin-left:5px;
	_margin-left:4px;
	float:left;
}
/* 連結變化效果--(未使用)*/
/*.pro-item-bg-4-1 a {
	text-decoration:none;
	display:block;
}
.pro-item-bg-4-1 a:hover .txt-4 {
	color:#000;
	text-decoration:underline;
}
.pro-item-bg-4-1 a:hover .num-4 {
	color:#000;
}
*/
.pic-4 {
	width:204px;
	height:152px;
	margin:5px auto 0px;
}
.pic-4 img {
	border:0px;
}
.title-4 {
	width:204px;
	height:12px;
	font-size:13px;
	color:#000;
	font-weight:bold;
	margin:3px auto 2px;
}
.title-4 a {
	font-size:13px;
	color:#000;
	text-decoration:none;
}
.title-4 a:hover {
	text-decoration:underline;
}
.txt-4 {
	width:204px;
	height:27px;
	font-size:12px;
	color:#666;
	line-height:15px;
	overflow:hidden;
	margin:5px auto 0px;
}
.price-area-4{
	width:204px;
	height:21px;
	margin:0px auto 0px;
}
.num-4 {
	width:80px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:21px;
	color:#ff0000;
	text-align:right;
	float:right;
}
/* 廣告區 */
.banner-area-1 {
	width:920px;
	height:405px;
	background-image:url(../images/banner-bg-1.gif);
	background-repeat:no-repeat;
	padding:20px 20px 20px 20px;
	_padding:20px 20px 5px 20px;
	float:left;
}
.banner-1 {
	width:450px;
	height:195px;
	background-color:#000;
	margin-bottom:15px;
	float:left;
}
.margin-3 {
	margin-right:19px;
}
.banner-1 img {
	border:0px;
}
/* 頁尾 */
div#footer {
	width:960px;
	height:67px;
	background-image:url(../images/footer-bg.gif);
	background-repeat:no-repeat;
	clear:both;
	margin:0px auto;
}
.footer-txt-1 {
	width:100%;
	height:11px;
	font-size:12px;
	color:#ccc;
	text-align:center;
	padding-top:28px;