body {
	font-family:"微軟正黑體";
	background-color:#ddd;
	margin:0;
	padding:0;
}
.clearFix {
	clear:both !important;
}
.padFix-1 {
	padding-left:38px !important;
}
.padFix-2 {
	padding-left:35px !important;
}
.borderFix-1 {
	border-right:none !important;
}
.widthFix-1 {
	width:220px !important;
}
.wrapper {
	width:850px;
	background-color:#fff;
	margin:0 auto;
}
.mv {
	width:850px;
	height:287px;
}
.mv img {
	widht:100%;
	height:auto;
}
.mv-2 {
	width:850px;
	height:324px;
	margin-bottom:30px;
}
.mv-2 img {
	widht:100%;
	height:auto;
}
.jobArea {
	width:92%;
	margin:0 auto;
}
.jobArea h1 {
	font-size:20px;
	color:#0b4068;
	margin:0;
	padding:20px 0 10px;
}
.jobArea h1 span {
	color:#3a76b5;
	vertical-align:buttom;
	margin-right:10px;
}
.jobArea h2 {
	font-size:20px;
	color:#00a0e8;
	margin:0;
	padding:20px 0 10px;
}
.jobArea h2+p {
	font-size:15px;
}
.jobArea h2+p a {
	color:#00a0e8;
	letter-spacing:1px;
	text-decoration:none;
	margin-right:3px;
}
.jobArea h2+p a:hover {
	color:#00a0e8;
	text-decoration:underline;
}
.jobArea p {
	font-size:16px;
	font-weight:bold;
	color:#595758;
	letter-spacing:1px;
	line-height:24px;
	margin:0;
	padding:0;
}
.jobArea .table-head-1 {
	width:100%;
	border-collapse:collapse;
	margin-top:20px;
}
.jobArea .table-head-1 td {
	height:40px;
	background-color:#019fe8;
	font-size:19px;
	color:#fff;
	text-align:center;
	vertical-align:middle;
}
.jobArea .table-body-1 {
	width:100%;
	border-collapse:collapse;
}
.jobArea .table-body-1 td {
	height:55px;
	background-color:#f8f8f8;
	border-right:2px #e1e1e1 solid;
	border-bottom:2px #fff solid;
	font-size:18px;
	color:#555;
	vertical-align:middle;
}
.jobArea .table-body-1 .btn-1 {
	display:inline-block;
	width:89px;
    background: -webkit-linear-gradient(#87d029 50%, #75c214 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#87d029 50%, #75c214 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#87d029 50%, #75c214 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#87d029 50%, #75c214 50%); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87d029', endColorstr='#75c214',GradientType=0 );
	border:1px #b6dc87 solid;
	border-radius:10px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	padding-top:7px;
	padding-bottom:5px;
}
.jobArea .table-body-1 .btn-1:hover {
	background: -webkit-linear-gradient(#75c214 50%, #87d029 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#75c214 50%, #87d029 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#75c214 50%, #87d029 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#75c214 50%, #87d029 50%); /* Standard syntax */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87d029', endColorstr='#75c214',GradientType=0 );
	text-decoration:none;
}
.jobArea .table-body-1 .btn-1 span {
	margin-right:5px;
}
.jobArea .table-body-1 .txtSystem {
	font-size:16px;
}
.jobArea .table-body-1 .listLink {
	font-size:18px;
	color:#555;
	text-decoration:none;
}
.jobArea .table-body-1 .listLink:hover {
	color:#000;
	text-decoration:underline;
}
.hline {
	width:96%;
	border-bottom:2px #c5cade dashed;
	margin:24px auto 30px;
}
.hline-2 {
	width:96%;
	border-bottom:2px #c5cade dashed;
	margin:24px auto 0;
}
.txtArea-1 {
    width:auto;
	font-size:18px;
	font-weight:bold;
	color:#000;
	margin-right:15px;
	float:left;
}
.txtArea-2 {
    width:246px;
	font-size:16px;
	font-weight:bold;
	color:#717171;
	float:left;
}
.txtArea-2 ul {
	list-style:decimal;
	margin-top:0;
	padding-left:20px;
}
.txtArea-2 ul li {
	margin-bottom:4px;
}
.picArea {
	width:100%;
	margin-top:70px;
	margin-bottom:70px;
	float:left;
}
.picArea .pic-1 {
	width:280px;
	height:188px;
	margin-right:4px;
	float:left;
}
.picArea .pic-1 img {
	width:100%;
	height:auto;
}
.picArea .pic-2 {
	width:342px;
	height:188px;
	float:left;
}
.picArea .pic-2 img {
	width:100%;
	height:auto;
}
.picArea .pic-3 {
	width:152px;
	height:188px;
	float:right;
}
.picArea .pic-3 img {
	width:100%;
	height:auto;
}
.picArea-2 {
	width:100%;
	height:auto;
	background-color:#f8f8f8;
	text-align:center;
	padding-top:30px;
	padding-bottom:40px;
}
.picArea-2 img {
	width:730px;
	height:355px;
}
.footer {
	width:100%;
	height:27px;
	background:url(../images/bg_footer.png) repeat-x;
	text-align:center;
}
.footer span {
	display:inline-block;
	font-size:15px;
	color:#fff;
	margin-top:4px;
}
.footer span a {
	color:#fff;
	text-decoration:none;
}
.footer span a:hover {
	text-decoration:underline;
}